@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Karla:wght@200&family=Noto+Serif+KR:wght@200;300&family=Tajawal:wght@200;300;500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

#header_sub {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: #fff;
}
#header_sub .inner {
  width: 1180px;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  margin: auto;
}
#header_sub .inner .wrap {
  position: absolute;
  top: 30px;
  left: 0;
}
#header_sub .inner .wrap.on {
  opacity: 0;
}
#header_sub .inner .wrap a img {
  width: 150px;
  opacity: 0.8;
}
#header_sub .inner .menuWeb #gnb {
  position: absolute;
  top: 50px;
  right: 0;
}
#header_sub .inner .menuWeb #gnb li {
  float: left;
}
#header_sub .inner .menuWeb #gnb li a {
  display: block;
  padding-bottom: 10px;
  margin: 14px 60px;
  font-size: 20px;
  font-family: "Karla";
  line-height: 1;
  color: #000;
  position: relative;
}
#header_sub .inner .menuWeb #gnb li a:last-child {
  margin-right: 0px;
}
#header_sub .inner .menuWeb #gnb li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #fff;
  height: 2px;
  width: 0;
  transition: 0.7s;
}
#header_sub .inner .menuWeb #gnb li a:hover::before {
  width: 100%;
}
#header_sub .inner .util {
  opacity: 0;
}
#header_sub .inner .copy {
  position: absolute;
  top: 50%;
  text-align: center;
}
#header_sub .inner .copy.on {
  padding-left: 300px;
}
#header_sub .inner .copy.on h1 {
  font-size: 40px;
}
#header_sub .inner .copy h1 {
  font-size: 50px;
  font-family: "Frank Ruhl Libre";
  font-weight: 900;
  line-height: 1;
  color: #efefef;
  opacity: 0.9;
}
#header_sub .inner .copy p {
  font-size: 18px;
  font-family: "Karla";
  line-height: 1.4;
  color: #efefef;
}
#header_sub .inner .btnCall {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 5%;
  right: 0px;
  z-index: 999;
  display: none;
}
#header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
#header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0px;
  transition: 0.5s;
}
#header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -1px;
  text-indent: -99999px;
}
#header_sub .inner .btnCall.on::before {
  top: 50%;
  transform: rotate(45deg);
  margin-top: -1px;
  transition: 0.5s;
}
#header_sub .inner .btnCall.on::after {
  bottom: 50%;
  transform: rotate(-45deg);
  margin-bottom: -1px;
  transition: 0.5s;
}
#header_sub .inner .btnCall.on span {
  display: none;
}
#header_sub .inner .menuMo {
  width: 300px;
  height: 100vh;
  background-color: rgba(171, 188, 207, 0.8);
  position: fixed;
  top: 0px;
  left: -700px;
  z-index: 20;
  transition: 0.5s;
}
#header_sub .inner .menuMo.on {
  left: 0px;
}
#header_sub .inner .menuMo h1 {
  padding-top: 50px;
  padding-left: 10px;
  border-bottom: 3px solid #efefef;
  width: 100%;
  text-align: center;
}
#header_sub .inner .menuMo h1 a img {
  width: 100px;
  margin-bottom: 10px;
}
#header_sub .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: "Karla";
  color: #fff;
  text-align: center;
}
#header_sub .inner .menuMo #gnbMo li a:hover {
  background: #999;
}

#visual_sub {
  width: 100%;
  height: 300px;
}
#visual_sub .inner {
  width: 1180px;
}
#visual_sub .inner .wrap {
  width: 100%;
}

#footer {
  width: 100%;
  padding: 100px 0;
  background: rgb(220, 229, 238);
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1 {
  font: bold 24px/1 "arial";
  color: #666;
  float: left;
}
#footer .inner ul {
  float: right;
}
#footer .inner ul li {
  float: left;
  margin-left: 20px;
}
#footer .inner ul li a {
  font: bold 14px/1 "arial";
  color: #666;
}
#footer .inner address {
  width: 100%;
  font: 14px/1.3 "arial";
  color: #777;
  margin-bottom: 20px;
  margin-top: 20px;
  float: left;
  border-top: 1px solid #888;
  padding-top: 20px;
}
#footer .inner p {
  width: 100%;
  font: 12px/1 "arial";
  color: #777;
  float: left;
}

@media screen and (max-width: 1179px) {
  #header_sub .inner {
    width: 100%;
    height: 100%;
  }
  #header_sub .inner .wrap a {
    margin-left: 30px;
  }
  #header_sub .inner .menuWeb {
    display: none;
  }
  #header_sub .inner .btnCall {
    display: block;
    margin-right: 30px;
  }
  #product .inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  #product .inner .wrap {
    margin-top: 50px;
    width: 100%;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
  }
  #product .inner .wrap article {
    width: 50%;
    float: left;
  }
  #footer {
    padding: 100px 20px;
  }
  #footer .inner {
    width: 100%;
  }
}
@media screen and (max-width: 539px) {
  #header_sub .inner {
    width: 100%;
  }
  #header_sub .inner .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }
  #header_sub .inner .wrap a img {
    width: 200px;
  }
  #header_sub .copy {
    display: none;
  }
  #product .inner .wrap article {
    width: 100%;
  }
  #footer {
    padding: 100px 20px;
  }
  #footer .inner {
    width: 100%;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

#header_sub {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: #fff;
}
#header_sub .inner {
  width: 1180px;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  margin: auto;
}
#header_sub .inner .wrap {
  position: absolute;
  top: 30px;
  left: 0;
}
#header_sub .inner .wrap.on {
  opacity: 0;
}
#header_sub .inner .wrap a img {
  width: 150px;
  opacity: 0.8;
}
#header_sub .inner .menuWeb #gnb {
  position: absolute;
  top: 50px;
  right: 0;
}
#header_sub .inner .menuWeb #gnb li {
  float: left;
}
#header_sub .inner .menuWeb #gnb li a {
  display: block;
  padding-bottom: 10px;
  margin: 14px 60px;
  font-size: 20px;
  font-family: "Karla";
  line-height: 1;
  color: #000;
  position: relative;
}
#header_sub .inner .menuWeb #gnb li a:last-child {
  margin-right: 0px;
}
#header_sub .inner .menuWeb #gnb li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #fff;
  height: 2px;
  width: 0;
  transition: 0.7s;
}
#header_sub .inner .menuWeb #gnb li a:hover::before {
  width: 100%;
}
#header_sub .inner .util {
  opacity: 0;
}
#header_sub .inner .copy {
  position: absolute;
  top: 50%;
  text-align: center;
}
#header_sub .inner .copy.on {
  padding-left: 300px;
}
#header_sub .inner .copy.on h1 {
  font-size: 40px;
}
#header_sub .inner .copy h1 {
  font-size: 50px;
  font-family: "Frank Ruhl Libre";
  font-weight: 900;
  line-height: 1;
  color: #efefef;
  opacity: 0.9;
}
#header_sub .inner .copy p {
  font-size: 18px;
  font-family: "Karla";
  line-height: 1.4;
  color: #efefef;
}
#header_sub .inner .btnCall {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 5%;
  right: 0px;
  z-index: 999;
  display: none;
}
#header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
#header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0px;
  transition: 0.5s;
}
#header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -1px;
  text-indent: -99999px;
}
#header_sub .inner .btnCall.on::before {
  top: 50%;
  transform: rotate(45deg);
  margin-top: -1px;
  transition: 0.5s;
}
#header_sub .inner .btnCall.on::after {
  bottom: 50%;
  transform: rotate(-45deg);
  margin-bottom: -1px;
  transition: 0.5s;
}
#header_sub .inner .btnCall.on span {
  display: none;
}
#header_sub .inner .menuMo {
  width: 300px;
  height: 100vh;
  background-color: rgba(171, 188, 207, 0.8);
  position: fixed;
  top: 0px;
  left: -700px;
  z-index: 20;
  transition: 0.5s;
}
#header_sub .inner .menuMo.on {
  left: 0px;
}
#header_sub .inner .menuMo h1 {
  padding-top: 50px;
  padding-left: 10px;
  border-bottom: 3px solid #efefef;
  width: 100%;
  text-align: center;
}
#header_sub .inner .menuMo h1 a img {
  width: 100px;
  margin-bottom: 10px;
}
#header_sub .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: "Karla";
  color: #fff;
  text-align: center;
}
#header_sub .inner .menuMo #gnbMo li a:hover {
  background: #999;
}

#visual_sub {
  width: 100%;
  height: 300px;
}
#visual_sub .inner {
  width: 1180px;
}
#visual_sub .inner .wrap {
  width: 100%;
}

#footer {
  width: 100%;
  padding: 100px 0;
  background: rgb(220, 229, 238);
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1 {
  font: bold 24px/1 "arial";
  color: #666;
  float: left;
}
#footer .inner ul {
  float: right;
}
#footer .inner ul li {
  float: left;
  margin-left: 20px;
}
#footer .inner ul li a {
  font: bold 14px/1 "arial";
  color: #666;
}
#footer .inner address {
  width: 100%;
  font: 14px/1.3 "arial";
  color: #777;
  margin-bottom: 20px;
  margin-top: 20px;
  float: left;
  border-top: 1px solid #888;
  padding-top: 20px;
}
#footer .inner p {
  width: 100%;
  font: 12px/1 "arial";
  color: #777;
  float: left;
}

@media screen and (max-width: 1179px) {
  #header_sub .inner {
    width: 100%;
    height: 100%;
  }
  #header_sub .inner .wrap a {
    margin-left: 30px;
  }
  #header_sub .inner .menuWeb {
    display: none;
  }
  #header_sub .inner .btnCall {
    display: block;
    margin-right: 30px;
  }
  #product .inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  #product .inner .wrap {
    margin-top: 50px;
    width: 100%;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
  }
  #product .inner .wrap article {
    width: 50%;
    float: left;
  }
  #footer {
    padding: 100px 20px;
  }
  #footer .inner {
    width: 100%;
  }
}
@media screen and (max-width: 539px) {
  #header_sub .inner {
    width: 100%;
  }
  #header_sub .inner .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }
  #header_sub .inner .wrap a img {
    width: 200px;
  }
  #header_sub .copy {
    display: none;
  }
  #product .inner .wrap article {
    width: 100%;
  }
  #footer {
    padding: 100px 20px;
  }
  #footer .inner {
    width: 100%;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

#header_sub {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: #fff;
}
#header_sub .inner {
  width: 1180px;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  margin: auto;
}
#header_sub .inner .wrap {
  position: absolute;
  top: 30px;
  left: 0;
}
#header_sub .inner .wrap.on {
  opacity: 0;
}
#header_sub .inner .wrap a img {
  width: 150px;
  opacity: 0.8;
}
#header_sub .inner .menuWeb #gnb {
  position: absolute;
  top: 50px;
  right: 0;
}
#header_sub .inner .menuWeb #gnb li {
  float: left;
}
#header_sub .inner .menuWeb #gnb li a {
  display: block;
  padding-bottom: 10px;
  margin: 14px 60px;
  font-size: 20px;
  font-family: "Karla";
  line-height: 1;
  color: #000;
  position: relative;
}
#header_sub .inner .menuWeb #gnb li a:last-child {
  margin-right: 0px;
}
#header_sub .inner .menuWeb #gnb li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #fff;
  height: 2px;
  width: 0;
  transition: 0.7s;
}
#header_sub .inner .menuWeb #gnb li a:hover::before {
  width: 100%;
}
#header_sub .inner .util {
  opacity: 0;
}
#header_sub .inner .copy {
  position: absolute;
  top: 50%;
  text-align: center;
}
#header_sub .inner .copy.on {
  padding-left: 300px;
}
#header_sub .inner .copy.on h1 {
  font-size: 40px;
}
#header_sub .inner .copy h1 {
  font-size: 50px;
  font-family: "Frank Ruhl Libre";
  font-weight: 900;
  line-height: 1;
  color: #efefef;
  opacity: 0.9;
}
#header_sub .inner .copy p {
  font-size: 18px;
  font-family: "Karla";
  line-height: 1.4;
  color: #efefef;
}
#header_sub .inner .btnCall {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 5%;
  right: 0px;
  z-index: 999;
  display: none;
}
#header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
#header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0px;
  transition: 0.5s;
}
#header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -1px;
  text-indent: -99999px;
}
#header_sub .inner .btnCall.on::before {
  top: 50%;
  transform: rotate(45deg);
  margin-top: -1px;
  transition: 0.5s;
}
#header_sub .inner .btnCall.on::after {
  bottom: 50%;
  transform: rotate(-45deg);
  margin-bottom: -1px;
  transition: 0.5s;
}
#header_sub .inner .btnCall.on span {
  display: none;
}
#header_sub .inner .menuMo {
  width: 300px;
  height: 100vh;
  background-color: rgba(171, 188, 207, 0.8);
  position: fixed;
  top: 0px;
  left: -700px;
  z-index: 20;
  transition: 0.5s;
}
#header_sub .inner .menuMo.on {
  left: 0px;
}
#header_sub .inner .menuMo h1 {
  padding-top: 50px;
  padding-left: 10px;
  border-bottom: 3px solid #efefef;
  width: 100%;
  text-align: center;
}
#header_sub .inner .menuMo h1 a img {
  width: 100px;
  margin-bottom: 10px;
}
#header_sub .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: "Karla";
  color: #fff;
  text-align: center;
}
#header_sub .inner .menuMo #gnbMo li a:hover {
  background: #999;
}

#visual_sub {
  width: 100%;
  height: 300px;
}
#visual_sub .inner {
  width: 1180px;
}
#visual_sub .inner .wrap {
  width: 100%;
}

#footer {
  width: 100%;
  padding: 100px 0;
  background: rgb(220, 229, 238);
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1 {
  font: bold 24px/1 "arial";
  color: #666;
  float: left;
}
#footer .inner ul {
  float: right;
}
#footer .inner ul li {
  float: left;
  margin-left: 20px;
}
#footer .inner ul li a {
  font: bold 14px/1 "arial";
  color: #666;
}
#footer .inner address {
  width: 100%;
  font: 14px/1.3 "arial";
  color: #777;
  margin-bottom: 20px;
  margin-top: 20px;
  float: left;
  border-top: 1px solid #888;
  padding-top: 20px;
}
#footer .inner p {
  width: 100%;
  font: 12px/1 "arial";
  color: #777;
  float: left;
}

@media screen and (max-width: 1179px) {
  #header_sub .inner {
    width: 100%;
    height: 100%;
  }
  #header_sub .inner .wrap a {
    margin-left: 30px;
  }
  #header_sub .inner .menuWeb {
    display: none;
  }
  #header_sub .inner .btnCall {
    display: block;
    margin-right: 30px;
  }
  #product .inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  #product .inner .wrap {
    margin-top: 50px;
    width: 100%;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
  }
  #product .inner .wrap article {
    width: 50%;
    float: left;
  }
  #footer {
    padding: 100px 20px;
  }
  #footer .inner {
    width: 100%;
  }
}
@media screen and (max-width: 539px) {
  #header_sub .inner {
    width: 100%;
  }
  #header_sub .inner .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }
  #header_sub .inner .wrap a img {
    width: 200px;
  }
  #header_sub .copy {
    display: none;
  }
  #product .inner .wrap article {
    width: 100%;
  }
  #footer {
    padding: 100px 20px;
  }
  #footer .inner {
    width: 100%;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

#header_sub {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: #fff;
}
#header_sub .inner {
  width: 1180px;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  margin: auto;
}
#header_sub .inner .wrap {
  position: absolute;
  top: 30px;
  left: 0;
}
#header_sub .inner .wrap.on {
  opacity: 0;
}
#header_sub .inner .wrap a img {
  width: 150px;
  opacity: 0.8;
}
#header_sub .inner .menuWeb #gnb {
  position: absolute;
  top: 50px;
  right: 0;
}
#header_sub .inner .menuWeb #gnb li {
  float: left;
}
#header_sub .inner .menuWeb #gnb li a {
  display: block;
  padding-bottom: 10px;
  margin: 14px 60px;
  font-size: 20px;
  font-family: "Karla";
  line-height: 1;
  color: #000;
  position: relative;
}
#header_sub .inner .menuWeb #gnb li a:last-child {
  margin-right: 0px;
}
#header_sub .inner .menuWeb #gnb li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #fff;
  height: 2px;
  width: 0;
  transition: 0.7s;
}
#header_sub .inner .menuWeb #gnb li a:hover::before {
  width: 100%;
}
#header_sub .inner .util {
  opacity: 0;
}
#header_sub .inner .copy {
  position: absolute;
  top: 50%;
  text-align: center;
}
#header_sub .inner .copy.on {
  padding-left: 300px;
}
#header_sub .inner .copy.on h1 {
  font-size: 40px;
}
#header_sub .inner .copy h1 {
  font-size: 50px;
  font-family: "Frank Ruhl Libre";
  font-weight: 900;
  line-height: 1;
  color: #efefef;
  opacity: 0.9;
}
#header_sub .inner .copy p {
  font-size: 18px;
  font-family: "Karla";
  line-height: 1.4;
  color: #efefef;
}
#header_sub .inner .btnCall {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 5%;
  right: 0px;
  z-index: 999;
  display: none;
}
#header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
#header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0px;
  transition: 0.5s;
}
#header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -1px;
  text-indent: -99999px;
}
#header_sub .inner .btnCall.on::before {
  top: 50%;
  transform: rotate(45deg);
  margin-top: -1px;
  transition: 0.5s;
}
#header_sub .inner .btnCall.on::after {
  bottom: 50%;
  transform: rotate(-45deg);
  margin-bottom: -1px;
  transition: 0.5s;
}
#header_sub .inner .btnCall.on span {
  display: none;
}
#header_sub .inner .menuMo {
  width: 300px;
  height: 100vh;
  background-color: rgba(171, 188, 207, 0.8);
  position: fixed;
  top: 0px;
  left: -700px;
  z-index: 20;
  transition: 0.5s;
}
#header_sub .inner .menuMo.on {
  left: 0px;
}
#header_sub .inner .menuMo h1 {
  padding-top: 50px;
  padding-left: 10px;
  border-bottom: 3px solid #efefef;
  width: 100%;
  text-align: center;
}
#header_sub .inner .menuMo h1 a img {
  width: 100px;
  margin-bottom: 10px;
}
#header_sub .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: "Karla";
  color: #fff;
  text-align: center;
}
#header_sub .inner .menuMo #gnbMo li a:hover {
  background: #999;
}

#visual_sub {
  width: 100%;
  height: 300px;
}
#visual_sub .inner {
  width: 1180px;
}
#visual_sub .inner .wrap {
  width: 100%;
}

#footer {
  width: 100%;
  padding: 100px 0;
  background: rgb(220, 229, 238);
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1 {
  font: bold 24px/1 "arial";
  color: #666;
  float: left;
}
#footer .inner ul {
  float: right;
}
#footer .inner ul li {
  float: left;
  margin-left: 20px;
}
#footer .inner ul li a {
  font: bold 14px/1 "arial";
  color: #666;
}
#footer .inner address {
  width: 100%;
  font: 14px/1.3 "arial";
  color: #777;
  margin-bottom: 20px;
  margin-top: 20px;
  float: left;
  border-top: 1px solid #888;
  padding-top: 20px;
}
#footer .inner p {
  width: 100%;
  font: 12px/1 "arial";
  color: #777;
  float: left;
}

@media screen and (max-width: 1179px) {
  #header_sub .inner {
    width: 100%;
    height: 100%;
  }
  #header_sub .inner .wrap a {
    margin-left: 30px;
  }
  #header_sub .inner .menuWeb {
    display: none;
  }
  #header_sub .inner .btnCall {
    display: block;
    margin-right: 30px;
  }
  #product .inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  #product .inner .wrap {
    margin-top: 50px;
    width: 100%;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
  }
  #product .inner .wrap article {
    width: 50%;
    float: left;
  }
  #footer {
    padding: 100px 20px;
  }
  #footer .inner {
    width: 100%;
  }
}
@media screen and (max-width: 539px) {
  #header_sub .inner {
    width: 100%;
  }
  #header_sub .inner .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }
  #header_sub .inner .wrap a img {
    width: 200px;
  }
  #header_sub .copy {
    display: none;
  }
  #product .inner .wrap article {
    width: 100%;
  }
  #footer {
    padding: 100px 20px;
  }
  #footer .inner {
    width: 100%;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

#header_sub {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: #fff;
}
#header_sub .inner {
  width: 1180px;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  margin: auto;
}
#header_sub .inner .wrap {
  position: absolute;
  top: 30px;
  left: 0;
}
#header_sub .inner .wrap.on {
  opacity: 0;
}
#header_sub .inner .wrap a img {
  width: 150px;
  opacity: 0.8;
}
#header_sub .inner .menuWeb #gnb {
  position: absolute;
  top: 50px;
  right: 0;
}
#header_sub .inner .menuWeb #gnb li {
  float: left;
}
#header_sub .inner .menuWeb #gnb li a {
  display: block;
  padding-bottom: 10px;
  margin: 14px 60px;
  font-size: 20px;
  font-family: "Karla";
  line-height: 1;
  color: #000;
  position: relative;
}
#header_sub .inner .menuWeb #gnb li a:last-child {
  margin-right: 0px;
}
#header_sub .inner .menuWeb #gnb li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #fff;
  height: 2px;
  width: 0;
  transition: 0.7s;
}
#header_sub .inner .menuWeb #gnb li a:hover::before {
  width: 100%;
}
#header_sub .inner .util {
  opacity: 0;
}
#header_sub .inner .copy {
  position: absolute;
  top: 50%;
  text-align: center;
}
#header_sub .inner .copy.on {
  padding-left: 300px;
}
#header_sub .inner .copy.on h1 {
  font-size: 40px;
}
#header_sub .inner .copy h1 {
  font-size: 50px;
  font-family: "Frank Ruhl Libre";
  font-weight: 900;
  line-height: 1;
  color: #efefef;
  opacity: 0.9;
}
#header_sub .inner .copy p {
  font-size: 18px;
  font-family: "Karla";
  line-height: 1.4;
  color: #efefef;
}
#header_sub .inner .btnCall {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 5%;
  right: 0px;
  z-index: 999;
  display: none;
}
#header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
#header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0px;
  transition: 0.5s;
}
#header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -1px;
  text-indent: -99999px;
}
#header_sub .inner .btnCall.on::before {
  top: 50%;
  transform: rotate(45deg);
  margin-top: -1px;
  transition: 0.5s;
}
#header_sub .inner .btnCall.on::after {
  bottom: 50%;
  transform: rotate(-45deg);
  margin-bottom: -1px;
  transition: 0.5s;
}
#header_sub .inner .btnCall.on span {
  display: none;
}
#header_sub .inner .menuMo {
  width: 300px;
  height: 100vh;
  background-color: rgba(171, 188, 207, 0.8);
  position: fixed;
  top: 0px;
  left: -700px;
  z-index: 20;
  transition: 0.5s;
}
#header_sub .inner .menuMo.on {
  left: 0px;
}
#header_sub .inner .menuMo h1 {
  padding-top: 50px;
  padding-left: 10px;
  border-bottom: 3px solid #efefef;
  width: 100%;
  text-align: center;
}
#header_sub .inner .menuMo h1 a img {
  width: 100px;
  margin-bottom: 10px;
}
#header_sub .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: "Karla";
  color: #fff;
  text-align: center;
}
#header_sub .inner .menuMo #gnbMo li a:hover {
  background: #999;
}

#visual_sub {
  width: 100%;
  height: 300px;
}
#visual_sub .inner {
  width: 1180px;
}
#visual_sub .inner .wrap {
  width: 100%;
}

#footer {
  width: 100%;
  padding: 100px 0;
  background: rgb(220, 229, 238);
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1 {
  font: bold 24px/1 "arial";
  color: #666;
  float: left;
}
#footer .inner ul {
  float: right;
}
#footer .inner ul li {
  float: left;
  margin-left: 20px;
}
#footer .inner ul li a {
  font: bold 14px/1 "arial";
  color: #666;
}
#footer .inner address {
  width: 100%;
  font: 14px/1.3 "arial";
  color: #777;
  margin-bottom: 20px;
  margin-top: 20px;
  float: left;
  border-top: 1px solid #888;
  padding-top: 20px;
}
#footer .inner p {
  width: 100%;
  font: 12px/1 "arial";
  color: #777;
  float: left;
}

@media screen and (max-width: 1179px) {
  #header_sub .inner {
    width: 100%;
    height: 100%;
  }
  #header_sub .inner .wrap a {
    margin-left: 30px;
  }
  #header_sub .inner .menuWeb {
    display: none;
  }
  #header_sub .inner .btnCall {
    display: block;
    margin-right: 30px;
  }
  #product .inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  #product .inner .wrap {
    margin-top: 50px;
    width: 100%;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
  }
  #product .inner .wrap article {
    width: 50%;
    float: left;
  }
  #footer {
    padding: 100px 20px;
  }
  #footer .inner {
    width: 100%;
  }
}
@media screen and (max-width: 539px) {
  #header_sub .inner {
    width: 100%;
  }
  #header_sub .inner .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }
  #header_sub .inner .wrap a img {
    width: 200px;
  }
  #header_sub .copy {
    display: none;
  }
  #product .inner .wrap article {
    width: 100%;
  }
  #footer {
    padding: 100px 20px;
  }
  #footer .inner {
    width: 100%;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

#header_sub {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: #fff;
}
#header_sub .inner {
  width: 1180px;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  margin: auto;
}
#header_sub .inner .wrap {
  position: absolute;
  top: 30px;
  left: 0;
}
#header_sub .inner .wrap.on {
  opacity: 0;
}
#header_sub .inner .wrap a img {
  width: 150px;
  opacity: 0.8;
}
#header_sub .inner .menuWeb #gnb {
  position: absolute;
  top: 50px;
  right: 0;
}
#header_sub .inner .menuWeb #gnb li {
  float: left;
}
#header_sub .inner .menuWeb #gnb li a {
  display: block;
  padding-bottom: 10px;
  margin: 14px 60px;
  font-size: 20px;
  font-family: "Karla";
  line-height: 1;
  color: #000;
  position: relative;
}
#header_sub .inner .menuWeb #gnb li a:last-child {
  margin-right: 0px;
}
#header_sub .inner .menuWeb #gnb li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #fff;
  height: 2px;
  width: 0;
  transition: 0.7s;
}
#header_sub .inner .menuWeb #gnb li a:hover::before {
  width: 100%;
}
#header_sub .inner .util {
  opacity: 0;
}
#header_sub .inner .copy {
  position: absolute;
  top: 50%;
  text-align: center;
}
#header_sub .inner .copy.on {
  padding-left: 300px;
}
#header_sub .inner .copy.on h1 {
  font-size: 40px;
}
#header_sub .inner .copy h1 {
  font-size: 50px;
  font-family: "Frank Ruhl Libre";
  font-weight: 900;
  line-height: 1;
  color: #efefef;
  opacity: 0.9;
}
#header_sub .inner .copy p {
  font-size: 18px;
  font-family: "Karla";
  line-height: 1.4;
  color: #efefef;
}
#header_sub .inner .btnCall {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 5%;
  right: 0px;
  z-index: 999;
  display: none;
}
#header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
#header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0px;
  transition: 0.5s;
}
#header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -1px;
  text-indent: -99999px;
}
#header_sub .inner .btnCall.on::before {
  top: 50%;
  transform: rotate(45deg);
  margin-top: -1px;
  transition: 0.5s;
}
#header_sub .inner .btnCall.on::after {
  bottom: 50%;
  transform: rotate(-45deg);
  margin-bottom: -1px;
  transition: 0.5s;
}
#header_sub .inner .btnCall.on span {
  display: none;
}
#header_sub .inner .menuMo {
  width: 300px;
  height: 100vh;
  background-color: rgba(171, 188, 207, 0.8);
  position: fixed;
  top: 0px;
  left: -700px;
  z-index: 20;
  transition: 0.5s;
}
#header_sub .inner .menuMo.on {
  left: 0px;
}
#header_sub .inner .menuMo h1 {
  padding-top: 50px;
  padding-left: 10px;
  border-bottom: 3px solid #efefef;
  width: 100%;
  text-align: center;
}
#header_sub .inner .menuMo h1 a img {
  width: 100px;
  margin-bottom: 10px;
}
#header_sub .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: "Karla";
  color: #fff;
  text-align: center;
}
#header_sub .inner .menuMo #gnbMo li a:hover {
  background: #999;
}

#visual_sub {
  width: 100%;
  height: 300px;
}
#visual_sub .inner {
  width: 1180px;
}
#visual_sub .inner .wrap {
  width: 100%;
}

#footer {
  width: 100%;
  padding: 100px 0;
  background: rgb(220, 229, 238);
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1 {
  font: bold 24px/1 "arial";
  color: #666;
  float: left;
}
#footer .inner ul {
  float: right;
}
#footer .inner ul li {
  float: left;
  margin-left: 20px;
}
#footer .inner ul li a {
  font: bold 14px/1 "arial";
  color: #666;
}
#footer .inner address {
  width: 100%;
  font: 14px/1.3 "arial";
  color: #777;
  margin-bottom: 20px;
  margin-top: 20px;
  float: left;
  border-top: 1px solid #888;
  padding-top: 20px;
}
#footer .inner p {
  width: 100%;
  font: 12px/1 "arial";
  color: #777;
  float: left;
}

@media screen and (max-width: 1179px) {
  #header_sub .inner {
    width: 100%;
    height: 100%;
  }
  #header_sub .inner .wrap a {
    margin-left: 30px;
  }
  #header_sub .inner .menuWeb {
    display: none;
  }
  #header_sub .inner .btnCall {
    display: block;
    margin-right: 30px;
  }
  #product .inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  #product .inner .wrap {
    margin-top: 50px;
    width: 100%;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
  }
  #product .inner .wrap article {
    width: 50%;
    float: left;
  }
  #footer {
    padding: 100px 20px;
  }
  #footer .inner {
    width: 100%;
  }
}
@media screen and (max-width: 539px) {
  #header_sub .inner {
    width: 100%;
  }
  #header_sub .inner .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }
  #header_sub .inner .wrap a img {
    width: 200px;
  }
  #header_sub .copy {
    display: none;
  }
  #product .inner .wrap article {
    width: 100%;
  }
  #footer {
    padding: 100px 20px;
  }
  #footer .inner {
    width: 100%;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

#header {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: rgb(4, 36, 4);
}
#header .inner {
  width: 1180px;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  margin: auto;
}
#header .inner .wrap {
  position: absolute;
  top: 40px;
  left: 0;
}
#header .inner .wrap a img {
  width: 120px;
  opacity: 0.8;
}
#header .inner .menuWeb #gnb {
  position: absolute;
  top: 50px;
  right: 0;
}
#header .inner .menuWeb #gnb li {
  float: left;
}
#header .inner .menuWeb #gnb li a {
  display: block;
  padding-bottom: 10px;
  margin: 14px 60px;
  font-size: 20px;
  font-family: "Karla";
  line-height: 1;
  color: #efefef;
  position: relative;
}
#header .inner .menuWeb #gnb li a:last-child {
  margin-right: 0px;
}
#header .inner .menuWeb #gnb li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #fff;
  height: 2px;
  width: 0;
  transition: 0.7s;
}
#header .inner .menuWeb #gnb li a:hover::before {
  width: 100%;
}
#header .inner .util {
  opacity: 0;
}

#visual {
  width: 100%;
  height: 500px;
  background-color: #000;
}
#visual video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}
#visual .inner {
  width: 1180px;
}

#brand {
  width: 100%;
  padding: 150px 0px;
  background-color: #efefef;
}
#brand .inner {
  width: 1180px;
  margin: 0 auto;
  text-align: center;
}
#brand .inner .logo img {
  width: 50px;
  filter: brightness(60%);
}
#brand .inner h2 {
  font-size: 40px;
  font-family: "Tajawal";
  font-weight: 200;
  line-height: 1;
  color: #555;
}
#brand .inner > h3 {
  font-size: 15px;
  font-family: "Gowun Dodum";
  font-weight: 200;
  line-height: 1.5;
  color: #555;
  margin-bottom: 100px;
}
#brand .inner .wrap {
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid #999;
}
#brand .inner .wrap .text {
  position: relative;
  border-top: 2px solid #999;
  margin-bottom: 60px;
}
#brand .inner .wrap .text > h2 {
  font-size: 25px;
  font-family: "Gowun Dodum";
  font-weight: bold;
  color: #777;
  background-color: #efefef;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0px 20px;
}
#brand .inner .wrap article {
  width: 220px;
  height: 300px;
  float: left;
  margin-right: 20px;
}
#brand .inner .wrap article .pic img {
  width: 120px;
  border-radius: 50%;
}
#brand .inner .wrap article h3 {
  font-size: 20px;
  font-family: "Gowun Dodum";
  color: #555;
  padding-top: 20px;
  font-weight: bold;
}
#brand .inner .wrap article p {
  font-size: 15px;
  font-family: "Noto Serif KR";
  font-weight: 300;
  line-height: 1.5;
  color: #555;
  padding-top: 10px;
}
#brand .inner .wrap article:last-of-type {
  margin-right: 0px;
}
#brand .inner .wrap::after {
  content: "";
  display: block;
  clear: both;
}

#intro {
  width: 100%;
  padding: 150px 0px;
  background: url(../img/배경2.png);
}
#intro .inner {
  width: 1180px;
  margin: 0 auto;
  text-align: center;
}
#intro .inner .logo img {
  width: 50px;
  filter: brightness(60%);
}
#intro .inner > h2 {
  font-size: 40px;
  font-family: "Tajawal";
  font-weight: 200;
  line-height: 1;
  color: #555;
}
#intro .inner > h3 {
  font-size: 15px;
  font-family: "Gowun Dodum";
  font-weight: 200;
  line-height: 1;
  color: #555;
  margin-bottom: 100px;
}
#intro .inner .slide .wrap1 article {
  float: left;
}
#intro .inner .slide .wrap1 article:nth-of-type(1) {
  width: 1180px;
  height: 350px;
  display: flex;
}
#intro .inner .slide .wrap1 article:nth-of-type(1) .pic {
  width: 650px;
}
#intro .inner .slide .wrap1 article:nth-of-type(1) .text {
  width: 500px;
  text-align: left;
}
#intro .inner .slide .wrap1 article:nth-of-type(1) .text > h2 {
  width: 300px;
  font-size: 40px;
  font-family: "Gowun Dodum";
  font-weight: bold;
  line-height: 1;
  color: #555;
  border-bottom: 2px solid rgb(54, 95, 54);
  padding-bottom: 10px;
}
#intro .inner .slide .wrap1 article:nth-of-type(1) .text > p {
  font-size: 18px;
  font-family: "karla";
  font-weight: bold;
  line-height: 1.4;
  color: #555;
}
#intro .inner .slide .wrap1 article:nth-of-type(1) .text > p:nth-of-type(2) {
  font-size: 14px;
  font-family: "Gowun Dodum";
  font-weight: 300;
  line-height: 1.8;
  color: #555;
}
#intro .inner .slide .wrap1 article:nth-of-type(1) .text > h3 {
  font-size: 20px;
  font-family: "Gowun Dodum";
  color: #555;
  margin-top: 50px;
  margin-bottom: 20px;
}
#intro .inner .slide .wrap1 article:nth-of-type(2), #intro .inner .slide .wrap1 article:nth-of-type(3) {
  width: 580px;
  height: 170px;
  margin-right: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
#intro .inner .slide .wrap1 article:nth-of-type(2) .pic, #intro .inner .slide .wrap1 article:nth-of-type(3) .pic {
  width: 290px;
}
#intro .inner .slide .wrap1 article:nth-of-type(2) .pic img, #intro .inner .slide .wrap1 article:nth-of-type(3) .pic img {
  height: 150px;
}
#intro .inner .slide .wrap1 article:nth-of-type(2) .text, #intro .inner .slide .wrap1 article:nth-of-type(3) .text {
  text-align: left;
}
#intro .inner .slide .wrap1 article:nth-of-type(2) .text h3, #intro .inner .slide .wrap1 article:nth-of-type(3) .text h3 {
  width: 120px;
  font-size: 18px;
  font-family: "Gowun Dodum";
  line-height: 1.6;
  color: #444;
  border-bottom: 1px solid #333;
}
#intro .inner .slide .wrap1 article:nth-of-type(2) .text p, #intro .inner .slide .wrap1 article:nth-of-type(3) .text p {
  font-size: 15px;
  font-family: "Gowun Dodum";
  font-weight: 300;
  line-height: 3;
  color: #555;
}
#intro .inner .slide .wrap1 article:nth-of-type(2) .text a, #intro .inner .slide .wrap1 article:nth-of-type(3) .text a {
  border: 1px solid #555;
  padding: 5px 40px;
  font-size: 15px;
  font-family: "Gowun Dodum";
  font-weight: 300;
  line-height: 1.2;
  color: #555;
}
#intro .inner .slide .wrap1 article:nth-of-type(3) {
  margin-right: 0px;
}
#intro .inner .slide .wrap1::after {
  content: "";
  display: block;
  clear: both;
}

#product {
  width: 100%;
  height: 100vh;
  padding: 100px 0px;
  background-color: rgb(220, 229, 238);
  position: relative;
  margin: auto;
}
#product .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  position: relative;
}
#product .inner h3 {
  font-size: 17px;
  font-family: "Frank Ruhl Libre";
  font-weight: 900;
  line-height: 1;
  color: #555;
}
#product .inner h2 {
  font-size: 40px;
  font-family: "Frank Ruhl Libre";
  font-weight: 900;
  color: #333;
}
#product .inner p {
  font-size: 20px;
  font-family: "Karla";
  line-height: 4;
  color: #555;
}
#product .inner .wrap {
  margin-top: 50px;
  width: 200%;
  height: 380px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#product .inner .wrap article {
  width: 16.6666666667%;
  float: left;
}
#product .inner .wrap article img {
  background-color: rgb(230, 230, 230);
  width: 380px;
  height: 380px;
  object-fit: contain;
  border-radius: 50%;
  margin-bottom: 20px;
}
#product .inner .wrap article h3 {
  font-size: 20px;
  font-family: "Frank Ruhl Libre";
  font-weight: 900;
  color: #555;
}
#product .inner .wrap article p {
  font-size: 20px;
  font-family: "Karla";
  line-height: 3;
  color: #333;
}
#product .inner .prev {
  position: absolute;
  top: 50%;
  left: 0;
}
#product .inner .next {
  position: absolute;
  top: 50%;
  right: 0;
}

#banner {
  width: 100%;
  height: 400px;
  background: url(../img/banner.png) no-repeat center/cover fixed;
  padding-top: 30px;
}
#banner .inner {
  width: 1180px;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0px;
}
#banner .inner .logo {
  width: 100%;
}
#banner .inner .logo img {
  width: 50px;
}
#banner .inner h2 {
  font-size: 40px;
  font-family: "Tajawal";
  font-weight: 200;
  line-height: 1;
  color: #fff;
}
#banner .inner > h3 {
  font-size: 15px;
  font-family: "Gowun Dodum";
  font-weight: 200;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 100px;
}
#banner .inner a {
  border: 1px solid #fff;
  padding: 15px 70px;
  color: #fff;
}
#banner .inner a:hover {
  background: #555;
}

#footer {
  width: 100%;
  background-color: #cfcfcf;
}
#footer .inner {
  width: 1180px;
}
#footer .inner > ul {
  width: 100%;
  border-bottom: 1px solid #999;
  display: flex;
  justify-content: right;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
#footer .inner > ul li {
  font-size: 15px;
  font-family: "Gowun Dodum";
  font-weight: bold;
  color: #777;
}
#footer .inner .wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#footer .inner .wrap .pic {
  width: 220px;
  margin-right: 20px;
}
#footer .inner .wrap .pic img {
  width: 150px;
  padding: 10px;
}
#footer .inner .wrap article {
  width: 220px;
}
#footer .inner .wrap article:nth-of-type(1) {
  text-align: right;
}
#footer .inner .wrap article:nth-of-type(1) h4 {
  font-size: 15px;
  font-family: "Tajawal";
  font-weight: bold;
  line-height: 2;
  color: #777;
}
#footer .inner .wrap article:nth-of-type(2) p {
  font-size: 15px;
  font-family: "Gowun Dodum";
  line-height: 2;
}
#footer .inner .wrap article:nth-of-type(4) h4 {
  font-size: 15px;
  font-family: "Gowun Dodum";
  color: #555;
}
#footer .inner .wrap article:nth-of-type(4) h3 {
  font-size: 20px;
  color: #555;
  line-height: 2;
}
#footer .inner .wrap article:nth-of-type(4) p {
  margin-bottom: 40px;
}

/*# sourceMappingURL=styel.css.map */
