@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;900&family=Karla:wght@200&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

#header_sub {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: #fff;
}
#header_sub .inner {
  width: 1180px;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  margin: auto;
}
#header_sub .inner .wrap {
  position: absolute;
  top: 30px;
  left: 0;
}
#header_sub .inner .wrap.on {
  opacity: 0;
}
#header_sub .inner .wrap a img {
  width: 150px;
  opacity: 0.8;
}
#header_sub .inner .menuWeb #gnb {
  position: absolute;
  top: 50px;
  right: 0;
}
#header_sub .inner .menuWeb #gnb li {
  float: left;
}
#header_sub .inner .menuWeb #gnb li a {
  display: block;
  padding-bottom: 10px;
  margin: 14px 60px;
  font-size: 20px;
  font-family: "Karla";
  line-height: 1;
  color: #000;
  position: relative;
}
#header_sub .inner .menuWeb #gnb li a:last-child {
  margin-right: 0px;
}
#header_sub .inner .menuWeb #gnb li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #fff;
  height: 2px;
  width: 0;
  transition: 0.7s;
}
#header_sub .inner .menuWeb #gnb li a:hover::before {
  width: 100%;
}
#header_sub .inner .util {
  opacity: 0;
}
#header_sub .inner .copy {
  position: absolute;
  top: 50%;
  text-align: center;
}
#header_sub .inner .copy.on {
  padding-left: 300px;
}
#header_sub .inner .copy.on h1 {
  font-size: 40px;
}
#header_sub .inner .copy h1 {
  font-size: 50px;
  font-family: "Frank Ruhl Libre";
  font-weight: 900;
  line-height: 1;
  color: #efefef;
  opacity: 0.9;
}
#header_sub .inner .copy p {
  font-size: 18px;
  font-family: "Karla";
  line-height: 1.4;
  color: #efefef;
}
#header_sub .inner .btnCall {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 5%;
  right: 0px;
  z-index: 999;
  display: none;
}
#header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
#header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0px;
  transition: 0.5s;
}
#header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -1px;
  text-indent: -99999px;
}
#header_sub .inner .btnCall.on::before {
  top: 50%;
  transform: rotate(45deg);
  margin-top: -1px;
  transition: 0.5s;
}
#header_sub .inner .btnCall.on::after {
  bottom: 50%;
  transform: rotate(-45deg);
  margin-bottom: -1px;
  transition: 0.5s;
}
#header_sub .inner .btnCall.on span {
  display: none;
}
#header_sub .inner .menuMo {
  width: 300px;
  height: 100vh;
  background-color: rgba(171, 188, 207, 0.8);
  position: fixed;
  top: 0px;
  left: -700px;
  z-index: 20;
  transition: 0.5s;
}
#header_sub .inner .menuMo.on {
  left: 0px;
}
#header_sub .inner .menuMo h1 {
  padding-top: 50px;
  padding-left: 10px;
  border-bottom: 3px solid #efefef;
  width: 100%;
  text-align: center;
}
#header_sub .inner .menuMo h1 a img {
  width: 100px;
  margin-bottom: 10px;
}
#header_sub .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: "Karla";
  color: #fff;
  text-align: center;
}
#header_sub .inner .menuMo #gnbMo li a:hover {
  background: #999;
}

#visual_sub {
  width: 100%;
  height: 300px;
}
#visual_sub .inner {
  width: 1180px;
}
#visual_sub .inner .wrap {
  width: 100%;
}

#footer {
  width: 100%;
  padding: 100px 0;
  background: rgb(220, 229, 238);
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1 {
  font: bold 24px/1 "arial";
  color: #666;
  float: left;
}
#footer .inner ul {
  float: right;
}
#footer .inner ul li {
  float: left;
  margin-left: 20px;
}
#footer .inner ul li a {
  font: bold 14px/1 "arial";
  color: #666;
}
#footer .inner address {
  width: 100%;
  font: 14px/1.3 "arial";
  color: #777;
  margin-bottom: 20px;
  margin-top: 20px;
  float: left;
  border-top: 1px solid #888;
  padding-top: 20px;
}
#footer .inner p {
  width: 100%;
  font: 12px/1 "arial";
  color: #777;
  float: left;
}

@media screen and (max-width: 1179px) {
  #header_sub .inner {
    width: 100%;
    height: 100%;
  }
  #header_sub .inner .wrap a {
    margin-left: 30px;
  }
  #header_sub .inner .menuWeb {
    display: none;
  }
  #header_sub .inner .btnCall {
    display: block;
    margin-right: 30px;
  }
  #product .inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  #product .inner .wrap {
    margin-top: 50px;
    width: 100%;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
  }
  #product .inner .wrap article {
    width: 50%;
    float: left;
  }
  #footer {
    padding: 100px 20px;
  }
  #footer .inner {
    width: 100%;
  }
}
@media screen and (max-width: 539px) {
  #header_sub .inner {
    width: 100%;
  }
  #header_sub .inner .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }
  #header_sub .inner .wrap a img {
    width: 200px;
  }
  #header_sub .copy {
    display: none;
  }
  #product .inner .wrap article {
    width: 100%;
  }
  #footer {
    padding: 100px 20px;
  }
  #footer .inner {
    width: 100%;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

#header_sub {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: #fff;
}
#header_sub .inner {
  width: 1180px;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  margin: auto;
}
#header_sub .inner .wrap {
  position: absolute;
  top: 30px;
  left: 0;
}
#header_sub .inner .wrap.on {
  opacity: 0;
}
#header_sub .inner .wrap a img {
  width: 150px;
  opacity: 0.8;
}
#header_sub .inner .menuWeb #gnb {
  position: absolute;
  top: 50px;
  right: 0;
}
#header_sub .inner .menuWeb #gnb li {
  float: left;
}
#header_sub .inner .menuWeb #gnb li a {
  display: block;
  padding-bottom: 10px;
  margin: 14px 60px;
  font-size: 20px;
  font-family: "Karla";
  line-height: 1;
  color: #000;
  position: relative;
}
#header_sub .inner .menuWeb #gnb li a:last-child {
  margin-right: 0px;
}
#header_sub .inner .menuWeb #gnb li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #fff;
  height: 2px;
  width: 0;
  transition: 0.7s;
}
#header_sub .inner .menuWeb #gnb li a:hover::before {
  width: 100%;
}
#header_sub .inner .util {
  opacity: 0;
}
#header_sub .inner .copy {
  position: absolute;
  top: 50%;
  text-align: center;
}
#header_sub .inner .copy.on {
  padding-left: 300px;
}
#header_sub .inner .copy.on h1 {
  font-size: 40px;
}
#header_sub .inner .copy h1 {
  font-size: 50px;
  font-family: "Frank Ruhl Libre";
  font-weight: 900;
  line-height: 1;
  color: #efefef;
  opacity: 0.9;
}
#header_sub .inner .copy p {
  font-size: 18px;
  font-family: "Karla";
  line-height: 1.4;
  color: #efefef;
}
#header_sub .inner .btnCall {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 5%;
  right: 0px;
  z-index: 999;
  display: none;
}
#header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
#header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0px;
  transition: 0.5s;
}
#header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -1px;
  text-indent: -99999px;
}
#header_sub .inner .btnCall.on::before {
  top: 50%;
  transform: rotate(45deg);
  margin-top: -1px;
  transition: 0.5s;
}
#header_sub .inner .btnCall.on::after {
  bottom: 50%;
  transform: rotate(-45deg);
  margin-bottom: -1px;
  transition: 0.5s;
}
#header_sub .inner .btnCall.on span {
  display: none;
}
#header_sub .inner .menuMo {
  width: 300px;
  height: 100vh;
  background-color: rgba(171, 188, 207, 0.8);
  position: fixed;
  top: 0px;
  left: -700px;
  z-index: 20;
  transition: 0.5s;
}
#header_sub .inner .menuMo.on {
  left: 0px;
}
#header_sub .inner .menuMo h1 {
  padding-top: 50px;
  padding-left: 10px;
  border-bottom: 3px solid #efefef;
  width: 100%;
  text-align: center;
}
#header_sub .inner .menuMo h1 a img {
  width: 100px;
  margin-bottom: 10px;
}
#header_sub .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: "Karla";
  color: #fff;
  text-align: center;
}
#header_sub .inner .menuMo #gnbMo li a:hover {
  background: #999;
}

#visual_sub {
  width: 100%;
  height: 300px;
}
#visual_sub .inner {
  width: 1180px;
}
#visual_sub .inner .wrap {
  width: 100%;
}

#footer {
  width: 100%;
  padding: 100px 0;
  background: rgb(220, 229, 238);
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1 {
  font: bold 24px/1 "arial";
  color: #666;
  float: left;
}
#footer .inner ul {
  float: right;
}
#footer .inner ul li {
  float: left;
  margin-left: 20px;
}
#footer .inner ul li a {
  font: bold 14px/1 "arial";
  color: #666;
}
#footer .inner address {
  width: 100%;
  font: 14px/1.3 "arial";
  color: #777;
  margin-bottom: 20px;
  margin-top: 20px;
  float: left;
  border-top: 1px solid #888;
  padding-top: 20px;
}
#footer .inner p {
  width: 100%;
  font: 12px/1 "arial";
  color: #777;
  float: left;
}

@media screen and (max-width: 1179px) {
  #header_sub .inner {
    width: 100%;
    height: 100%;
  }
  #header_sub .inner .wrap a {
    margin-left: 30px;
  }
  #header_sub .inner .menuWeb {
    display: none;
  }
  #header_sub .inner .btnCall {
    display: block;
    margin-right: 30px;
  }
  #product .inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  #product .inner .wrap {
    margin-top: 50px;
    width: 100%;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
  }
  #product .inner .wrap article {
    width: 50%;
    float: left;
  }
  #footer {
    padding: 100px 20px;
  }
  #footer .inner {
    width: 100%;
  }
}
@media screen and (max-width: 539px) {
  #header_sub .inner {
    width: 100%;
  }
  #header_sub .inner .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }
  #header_sub .inner .wrap a img {
    width: 200px;
  }
  #header_sub .copy {
    display: none;
  }
  #product .inner .wrap article {
    width: 100%;
  }
  #footer {
    padding: 100px 20px;
  }
  #footer .inner {
    width: 100%;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

#header_sub {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: #fff;
}
#header_sub .inner {
  width: 1180px;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  margin: auto;
}
#header_sub .inner .wrap {
  position: absolute;
  top: 30px;
  left: 0;
}
#header_sub .inner .wrap.on {
  opacity: 0;
}
#header_sub .inner .wrap a img {
  width: 150px;
  opacity: 0.8;
}
#header_sub .inner .menuWeb #gnb {
  position: absolute;
  top: 50px;
  right: 0;
}
#header_sub .inner .menuWeb #gnb li {
  float: left;
}
#header_sub .inner .menuWeb #gnb li a {
  display: block;
  padding-bottom: 10px;
  margin: 14px 60px;
  font-size: 20px;
  font-family: "Karla";
  line-height: 1;
  color: #000;
  position: relative;
}
#header_sub .inner .menuWeb #gnb li a:last-child {
  margin-right: 0px;
}
#header_sub .inner .menuWeb #gnb li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #fff;
  height: 2px;
  width: 0;
  transition: 0.7s;
}
#header_sub .inner .menuWeb #gnb li a:hover::before {
  width: 100%;
}
#header_sub .inner .util {
  opacity: 0;
}
#header_sub .inner .copy {
  position: absolute;
  top: 50%;
  text-align: center;
}
#header_sub .inner .copy.on {
  padding-left: 300px;
}
#header_sub .inner .copy.on h1 {
  font-size: 40px;
}
#header_sub .inner .copy h1 {
  font-size: 50px;
  font-family: "Frank Ruhl Libre";
  font-weight: 900;
  line-height: 1;
  color: #efefef;
  opacity: 0.9;
}
#header_sub .inner .copy p {
  font-size: 18px;
  font-family: "Karla";
  line-height: 1.4;
  color: #efefef;
}
#header_sub .inner .btnCall {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 5%;
  right: 0px;
  z-index: 999;
  display: none;
}
#header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
#header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0px;
  transition: 0.5s;
}
#header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -1px;
  text-indent: -99999px;
}
#header_sub .inner .btnCall.on::before {
  top: 50%;
  transform: rotate(45deg);
  margin-top: -1px;
  transition: 0.5s;
}
#header_sub .inner .btnCall.on::after {
  bottom: 50%;
  transform: rotate(-45deg);
  margin-bottom: -1px;
  transition: 0.5s;
}
#header_sub .inner .btnCall.on span {
  display: none;
}
#header_sub .inner .menuMo {
  width: 300px;
  height: 100vh;
  background-color: rgba(171, 188, 207, 0.8);
  position: fixed;
  top: 0px;
  left: -700px;
  z-index: 20;
  transition: 0.5s;
}
#header_sub .inner .menuMo.on {
  left: 0px;
}
#header_sub .inner .menuMo h1 {
  padding-top: 50px;
  padding-left: 10px;
  border-bottom: 3px solid #efefef;
  width: 100%;
  text-align: center;
}
#header_sub .inner .menuMo h1 a img {
  width: 100px;
  margin-bottom: 10px;
}
#header_sub .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: "Karla";
  color: #fff;
  text-align: center;
}
#header_sub .inner .menuMo #gnbMo li a:hover {
  background: #999;
}

#visual_sub {
  width: 100%;
  height: 300px;
}
#visual_sub .inner {
  width: 1180px;
}
#visual_sub .inner .wrap {
  width: 100%;
}

#footer {
  width: 100%;
  padding: 100px 0;
  background: rgb(220, 229, 238);
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1 {
  font: bold 24px/1 "arial";
  color: #666;
  float: left;
}
#footer .inner ul {
  float: right;
}
#footer .inner ul li {
  float: left;
  margin-left: 20px;
}
#footer .inner ul li a {
  font: bold 14px/1 "arial";
  color: #666;
}
#footer .inner address {
  width: 100%;
  font: 14px/1.3 "arial";
  color: #777;
  margin-bottom: 20px;
  margin-top: 20px;
  float: left;
  border-top: 1px solid #888;
  padding-top: 20px;
}
#footer .inner p {
  width: 100%;
  font: 12px/1 "arial";
  color: #777;
  float: left;
}

@media screen and (max-width: 1179px) {
  #header_sub .inner {
    width: 100%;
    height: 100%;
  }
  #header_sub .inner .wrap a {
    margin-left: 30px;
  }
  #header_sub .inner .menuWeb {
    display: none;
  }
  #header_sub .inner .btnCall {
    display: block;
    margin-right: 30px;
  }
  #product .inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  #product .inner .wrap {
    margin-top: 50px;
    width: 100%;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
  }
  #product .inner .wrap article {
    width: 50%;
    float: left;
  }
  #footer {
    padding: 100px 20px;
  }
  #footer .inner {
    width: 100%;
  }
}
@media screen and (max-width: 539px) {
  #header_sub .inner {
    width: 100%;
  }
  #header_sub .inner .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }
  #header_sub .inner .wrap a img {
    width: 200px;
  }
  #header_sub .copy {
    display: none;
  }
  #product .inner .wrap article {
    width: 100%;
  }
  #footer {
    padding: 100px 20px;
  }
  #footer .inner {
    width: 100%;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

#header_sub {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: #fff;
}
#header_sub .inner {
  width: 1180px;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  margin: auto;
}
#header_sub .inner .wrap {
  position: absolute;
  top: 30px;
  left: 0;
}
#header_sub .inner .wrap.on {
  opacity: 0;
}
#header_sub .inner .wrap a img {
  width: 150px;
  opacity: 0.8;
}
#header_sub .inner .menuWeb #gnb {
  position: absolute;
  top: 50px;
  right: 0;
}
#header_sub .inner .menuWeb #gnb li {
  float: left;
}
#header_sub .inner .menuWeb #gnb li a {
  display: block;
  padding-bottom: 10px;
  margin: 14px 60px;
  font-size: 20px;
  font-family: "Karla";
  line-height: 1;
  color: #000;
  position: relative;
}
#header_sub .inner .menuWeb #gnb li a:last-child {
  margin-right: 0px;
}
#header_sub .inner .menuWeb #gnb li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #fff;
  height: 2px;
  width: 0;
  transition: 0.7s;
}
#header_sub .inner .menuWeb #gnb li a:hover::before {
  width: 100%;
}
#header_sub .inner .util {
  opacity: 0;
}
#header_sub .inner .copy {
  position: absolute;
  top: 50%;
  text-align: center;
}
#header_sub .inner .copy.on {
  padding-left: 300px;
}
#header_sub .inner .copy.on h1 {
  font-size: 40px;
}
#header_sub .inner .copy h1 {
  font-size: 50px;
  font-family: "Frank Ruhl Libre";
  font-weight: 900;
  line-height: 1;
  color: #efefef;
  opacity: 0.9;
}
#header_sub .inner .copy p {
  font-size: 18px;
  font-family: "Karla";
  line-height: 1.4;
  color: #efefef;
}
#header_sub .inner .btnCall {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 5%;
  right: 0px;
  z-index: 999;
  display: none;
}
#header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
#header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0px;
  transition: 0.5s;
}
#header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -1px;
  text-indent: -99999px;
}
#header_sub .inner .btnCall.on::before {
  top: 50%;
  transform: rotate(45deg);
  margin-top: -1px;
  transition: 0.5s;
}
#header_sub .inner .btnCall.on::after {
  bottom: 50%;
  transform: rotate(-45deg);
  margin-bottom: -1px;
  transition: 0.5s;
}
#header_sub .inner .btnCall.on span {
  display: none;
}
#header_sub .inner .menuMo {
  width: 300px;
  height: 100vh;
  background-color: rgba(171, 188, 207, 0.8);
  position: fixed;
  top: 0px;
  left: -700px;
  z-index: 20;
  transition: 0.5s;
}
#header_sub .inner .menuMo.on {
  left: 0px;
}
#header_sub .inner .menuMo h1 {
  padding-top: 50px;
  padding-left: 10px;
  border-bottom: 3px solid #efefef;
  width: 100%;
  text-align: center;
}
#header_sub .inner .menuMo h1 a img {
  width: 100px;
  margin-bottom: 10px;
}
#header_sub .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: "Karla";
  color: #fff;
  text-align: center;
}
#header_sub .inner .menuMo #gnbMo li a:hover {
  background: #999;
}

#visual_sub {
  width: 100%;
  height: 300px;
}
#visual_sub .inner {
  width: 1180px;
}
#visual_sub .inner .wrap {
  width: 100%;
}

#footer {
  width: 100%;
  padding: 100px 0;
  background: rgb(220, 229, 238);
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1 {
  font: bold 24px/1 "arial";
  color: #666;
  float: left;
}
#footer .inner ul {
  float: right;
}
#footer .inner ul li {
  float: left;
  margin-left: 20px;
}
#footer .inner ul li a {
  font: bold 14px/1 "arial";
  color: #666;
}
#footer .inner address {
  width: 100%;
  font: 14px/1.3 "arial";
  color: #777;
  margin-bottom: 20px;
  margin-top: 20px;
  float: left;
  border-top: 1px solid #888;
  padding-top: 20px;
}
#footer .inner p {
  width: 100%;
  font: 12px/1 "arial";
  color: #777;
  float: left;
}

@media screen and (max-width: 1179px) {
  #header_sub .inner {
    width: 100%;
    height: 100%;
  }
  #header_sub .inner .wrap a {
    margin-left: 30px;
  }
  #header_sub .inner .menuWeb {
    display: none;
  }
  #header_sub .inner .btnCall {
    display: block;
    margin-right: 30px;
  }
  #product .inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  #product .inner .wrap {
    margin-top: 50px;
    width: 100%;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
  }
  #product .inner .wrap article {
    width: 50%;
    float: left;
  }
  #footer {
    padding: 100px 20px;
  }
  #footer .inner {
    width: 100%;
  }
}
@media screen and (max-width: 539px) {
  #header_sub .inner {
    width: 100%;
  }
  #header_sub .inner .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }
  #header_sub .inner .wrap a img {
    width: 200px;
  }
  #header_sub .copy {
    display: none;
  }
  #product .inner .wrap article {
    width: 100%;
  }
  #footer {
    padding: 100px 20px;
  }
  #footer .inner {
    width: 100%;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

#header_sub {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: #fff;
}
#header_sub .inner {
  width: 1180px;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  margin: auto;
}
#header_sub .inner .wrap {
  position: absolute;
  top: 30px;
  left: 0;
}
#header_sub .inner .wrap.on {
  opacity: 0;
}
#header_sub .inner .wrap a img {
  width: 150px;
  opacity: 0.8;
}
#header_sub .inner .menuWeb #gnb {
  position: absolute;
  top: 50px;
  right: 0;
}
#header_sub .inner .menuWeb #gnb li {
  float: left;
}
#header_sub .inner .menuWeb #gnb li a {
  display: block;
  padding-bottom: 10px;
  margin: 14px 60px;
  font-size: 20px;
  font-family: "Karla";
  line-height: 1;
  color: #000;
  position: relative;
}
#header_sub .inner .menuWeb #gnb li a:last-child {
  margin-right: 0px;
}
#header_sub .inner .menuWeb #gnb li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #fff;
  height: 2px;
  width: 0;
  transition: 0.7s;
}
#header_sub .inner .menuWeb #gnb li a:hover::before {
  width: 100%;
}
#header_sub .inner .util {
  opacity: 0;
}
#header_sub .inner .copy {
  position: absolute;
  top: 50%;
  text-align: center;
}
#header_sub .inner .copy.on {
  padding-left: 300px;
}
#header_sub .inner .copy.on h1 {
  font-size: 40px;
}
#header_sub .inner .copy h1 {
  font-size: 50px;
  font-family: "Frank Ruhl Libre";
  font-weight: 900;
  line-height: 1;
  color: #efefef;
  opacity: 0.9;
}
#header_sub .inner .copy p {
  font-size: 18px;
  font-family: "Karla";
  line-height: 1.4;
  color: #efefef;
}
#header_sub .inner .btnCall {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 5%;
  right: 0px;
  z-index: 999;
  display: none;
}
#header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
#header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0px;
  transition: 0.5s;
}
#header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -1px;
  text-indent: -99999px;
}
#header_sub .inner .btnCall.on::before {
  top: 50%;
  transform: rotate(45deg);
  margin-top: -1px;
  transition: 0.5s;
}
#header_sub .inner .btnCall.on::after {
  bottom: 50%;
  transform: rotate(-45deg);
  margin-bottom: -1px;
  transition: 0.5s;
}
#header_sub .inner .btnCall.on span {
  display: none;
}
#header_sub .inner .menuMo {
  width: 300px;
  height: 100vh;
  background-color: rgba(171, 188, 207, 0.8);
  position: fixed;
  top: 0px;
  left: -700px;
  z-index: 20;
  transition: 0.5s;
}
#header_sub .inner .menuMo.on {
  left: 0px;
}
#header_sub .inner .menuMo h1 {
  padding-top: 50px;
  padding-left: 10px;
  border-bottom: 3px solid #efefef;
  width: 100%;
  text-align: center;
}
#header_sub .inner .menuMo h1 a img {
  width: 100px;
  margin-bottom: 10px;
}
#header_sub .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: "Karla";
  color: #fff;
  text-align: center;
}
#header_sub .inner .menuMo #gnbMo li a:hover {
  background: #999;
}

#visual_sub {
  width: 100%;
  height: 300px;
}
#visual_sub .inner {
  width: 1180px;
}
#visual_sub .inner .wrap {
  width: 100%;
}

#footer {
  width: 100%;
  padding: 100px 0;
  background: rgb(220, 229, 238);
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1 {
  font: bold 24px/1 "arial";
  color: #666;
  float: left;
}
#footer .inner ul {
  float: right;
}
#footer .inner ul li {
  float: left;
  margin-left: 20px;
}
#footer .inner ul li a {
  font: bold 14px/1 "arial";
  color: #666;
}
#footer .inner address {
  width: 100%;
  font: 14px/1.3 "arial";
  color: #777;
  margin-bottom: 20px;
  margin-top: 20px;
  float: left;
  border-top: 1px solid #888;
  padding-top: 20px;
}
#footer .inner p {
  width: 100%;
  font: 12px/1 "arial";
  color: #777;
  float: left;
}

@media screen and (max-width: 1179px) {
  #header_sub .inner {
    width: 100%;
    height: 100%;
  }
  #header_sub .inner .wrap a {
    margin-left: 30px;
  }
  #header_sub .inner .menuWeb {
    display: none;
  }
  #header_sub .inner .btnCall {
    display: block;
    margin-right: 30px;
  }
  #product .inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  #product .inner .wrap {
    margin-top: 50px;
    width: 100%;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
  }
  #product .inner .wrap article {
    width: 50%;
    float: left;
  }
  #footer {
    padding: 100px 20px;
  }
  #footer .inner {
    width: 100%;
  }
}
@media screen and (max-width: 539px) {
  #header_sub .inner {
    width: 100%;
  }
  #header_sub .inner .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }
  #header_sub .inner .wrap a img {
    width: 200px;
  }
  #header_sub .copy {
    display: none;
  }
  #product .inner .wrap article {
    width: 100%;
  }
  #footer {
    padding: 100px 20px;
  }
  #footer .inner {
    width: 100%;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

#header_sub {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: #fff;
}
#header_sub .inner {
  width: 1180px;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  margin: auto;
}
#header_sub .inner .wrap {
  position: absolute;
  top: 30px;
  left: 0;
}
#header_sub .inner .wrap.on {
  opacity: 0;
}
#header_sub .inner .wrap a img {
  width: 150px;
  opacity: 0.8;
}
#header_sub .inner .menuWeb #gnb {
  position: absolute;
  top: 50px;
  right: 0;
}
#header_sub .inner .menuWeb #gnb li {
  float: left;
}
#header_sub .inner .menuWeb #gnb li a {
  display: block;
  padding-bottom: 10px;
  margin: 14px 60px;
  font-size: 20px;
  font-family: "Karla";
  line-height: 1;
  color: #000;
  position: relative;
}
#header_sub .inner .menuWeb #gnb li a:last-child {
  margin-right: 0px;
}
#header_sub .inner .menuWeb #gnb li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #fff;
  height: 2px;
  width: 0;
  transition: 0.7s;
}
#header_sub .inner .menuWeb #gnb li a:hover::before {
  width: 100%;
}
#header_sub .inner .util {
  opacity: 0;
}
#header_sub .inner .copy {
  position: absolute;
  top: 50%;
  text-align: center;
}
#header_sub .inner .copy.on {
  padding-left: 300px;
}
#header_sub .inner .copy.on h1 {
  font-size: 40px;
}
#header_sub .inner .copy h1 {
  font-size: 50px;
  font-family: "Frank Ruhl Libre";
  font-weight: 900;
  line-height: 1;
  color: #efefef;
  opacity: 0.9;
}
#header_sub .inner .copy p {
  font-size: 18px;
  font-family: "Karla";
  line-height: 1.4;
  color: #efefef;
}
#header_sub .inner .btnCall {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 5%;
  right: 0px;
  z-index: 999;
  display: none;
}
#header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
#header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0px;
  transition: 0.5s;
}
#header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -1px;
  text-indent: -99999px;
}
#header_sub .inner .btnCall.on::before {
  top: 50%;
  transform: rotate(45deg);
  margin-top: -1px;
  transition: 0.5s;
}
#header_sub .inner .btnCall.on::after {
  bottom: 50%;
  transform: rotate(-45deg);
  margin-bottom: -1px;
  transition: 0.5s;
}
#header_sub .inner .btnCall.on span {
  display: none;
}
#header_sub .inner .menuMo {
  width: 300px;
  height: 100vh;
  background-color: rgba(171, 188, 207, 0.8);
  position: fixed;
  top: 0px;
  left: -700px;
  z-index: 20;
  transition: 0.5s;
}
#header_sub .inner .menuMo.on {
  left: 0px;
}
#header_sub .inner .menuMo h1 {
  padding-top: 50px;
  padding-left: 10px;
  border-bottom: 3px solid #efefef;
  width: 100%;
  text-align: center;
}
#header_sub .inner .menuMo h1 a img {
  width: 100px;
  margin-bottom: 10px;
}
#header_sub .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: "Karla";
  color: #fff;
  text-align: center;
}
#header_sub .inner .menuMo #gnbMo li a:hover {
  background: #999;
}

#visual_sub {
  width: 100%;
  height: 300px;
}
#visual_sub .inner {
  width: 1180px;
}
#visual_sub .inner .wrap {
  width: 100%;
}

#footer {
  width: 100%;
  padding: 100px 0;
  background: rgb(220, 229, 238);
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1 {
  font: bold 24px/1 "arial";
  color: #666;
  float: left;
}
#footer .inner ul {
  float: right;
}
#footer .inner ul li {
  float: left;
  margin-left: 20px;
}
#footer .inner ul li a {
  font: bold 14px/1 "arial";
  color: #666;
}
#footer .inner address {
  width: 100%;
  font: 14px/1.3 "arial";
  color: #777;
  margin-bottom: 20px;
  margin-top: 20px;
  float: left;
  border-top: 1px solid #888;
  padding-top: 20px;
}
#footer .inner p {
  width: 100%;
  font: 12px/1 "arial";
  color: #777;
  float: left;
}

@media screen and (max-width: 1179px) {
  #header_sub .inner {
    width: 100%;
    height: 100%;
  }
  #header_sub .inner .wrap a {
    margin-left: 30px;
  }
  #header_sub .inner .menuWeb {
    display: none;
  }
  #header_sub .inner .btnCall {
    display: block;
    margin-right: 30px;
  }
  #product .inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  #product .inner .wrap {
    margin-top: 50px;
    width: 100%;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
  }
  #product .inner .wrap article {
    width: 50%;
    float: left;
  }
  #footer {
    padding: 100px 20px;
  }
  #footer .inner {
    width: 100%;
  }
}
@media screen and (max-width: 539px) {
  #header_sub .inner {
    width: 100%;
  }
  #header_sub .inner .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }
  #header_sub .inner .wrap a img {
    width: 200px;
  }
  #header_sub .copy {
    display: none;
  }
  #product .inner .wrap article {
    width: 100%;
  }
  #footer {
    padding: 100px 20px;
  }
  #footer .inner {
    width: 100%;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

#header {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #000;
}
#header video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.7;
}
#header .inner {
  width: 1180px;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  margin: auto;
}
#header .inner .wrap {
  position: absolute;
  top: 70px;
  left: 0;
}
#header .inner .wrap.on {
  opacity: 0;
}
#header .inner .wrap a img {
  width: 150px;
  opacity: 0.8;
}
#header .inner .menuWeb #gnb {
  position: absolute;
  top: 80px;
  right: 0;
}
#header .inner .menuWeb #gnb li {
  float: left;
}
#header .inner .menuWeb #gnb li a {
  display: block;
  padding-bottom: 10px;
  margin: 14px 60px;
  font-size: 20px;
  font-family: "Karla";
  line-height: 1;
  color: #efefef;
  position: relative;
}
#header .inner .menuWeb #gnb li a:last-child {
  margin-right: 0px;
}
#header .inner .menuWeb #gnb li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #fff;
  height: 2px;
  width: 0;
  transition: 0.7s;
}
#header .inner .menuWeb #gnb li a:hover::before {
  width: 100%;
}
#header .inner .util {
  opacity: 0;
}
#header .inner .copy {
  position: absolute;
  top: 50%;
  text-align: center;
}
#header .inner .copy.on {
  padding-left: 300px;
}
#header .inner .copy.on h1 {
  font-size: 40px;
}
#header .inner .copy h1 {
  font-size: 50px;
  font-family: "Frank Ruhl Libre";
  font-weight: 900;
  line-height: 1;
  color: #efefef;
  opacity: 0.9;
}
#header .inner .copy p {
  font-size: 18px;
  font-family: "Karla";
  line-height: 1.4;
  color: #efefef;
}
#header .inner .btnCall {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 5%;
  right: 0px;
  z-index: 999;
  display: none;
}
#header .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
#header .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0px;
  transition: 0.5s;
}
#header .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -1px;
  text-indent: -99999px;
}
#header .inner .btnCall.on::before {
  top: 50%;
  transform: rotate(45deg);
  margin-top: -1px;
  transition: 0.5s;
}
#header .inner .btnCall.on::after {
  bottom: 50%;
  transform: rotate(-45deg);
  margin-bottom: -1px;
  transition: 0.5s;
}
#header .inner .btnCall.on span {
  display: none;
}
#header .inner .menuMo {
  width: 300px;
  height: 100vh;
  background-color: rgba(171, 188, 207, 0.8);
  position: fixed;
  top: 0px;
  left: -700px;
  z-index: 20;
  transition: 0.5s;
}
#header .inner .menuMo.on {
  left: 0px;
}
#header .inner .menuMo h1 {
  padding-top: 50px;
  padding-left: 10px;
  border-bottom: 3px solid #efefef;
  width: 100%;
  text-align: center;
}
#header .inner .menuMo h1 a img {
  width: 100px;
  margin-bottom: 10px;
}
#header .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: "Karla";
  color: #fff;
  text-align: center;
}
#header .inner .menuMo #gnbMo li a:hover {
  background: #999;
}

#intro {
  width: 100%;
  padding: 150px 0px;
}
#intro .inner {
  width: 1180px;
  margin: 0 auto;
}
#intro .inner > h2 {
  padding-left: 40px;
  font-size: 40px;
  font-family: "Frank Ruhl Libre";
  font-weight: 900;
  color: #555;
}
#intro .inner .wrap {
  margin-top: 70px;
}
#intro .inner .wrap article:nth-of-type(1) .txt1 {
  width: 400px;
  float: left;
  padding-left: 40px;
}
#intro .inner .wrap article:nth-of-type(1) .txt1 h3 {
  font-size: 18px;
  font-family: "Frank Ruhl Libre";
  font-weight: 300;
  color: rgb(171, 188, 207);
}
#intro .inner .wrap article:nth-of-type(1) .txt1 h3 a {
  font-size: 25px;
  font-weight: bold;
  color: #555;
  transition: 0.5s;
}
#intro .inner .wrap article:nth-of-type(1) .txt1 h3 a:hover {
  font-size: 40px;
  color: pink;
}
#intro .inner .wrap article:nth-of-type(1) .txt2 {
  width: 500px;
  float: right;
}
#intro .inner .wrap article:nth-of-type(1) .txt2 p {
  font-size: 15px;
  font-family: "Frank Ruhl Libre";
  font-weight: 300;
  line-height: 1.2;
  color: #333;
  margin-bottom: 30px;
}
#intro .inner .wrap article:nth-of-type(1)::after {
  content: "";
  display: block;
  clear: both;
}
#intro .inner .wrap article:nth-of-type(2) {
  margin-top: 30px;
  display: flex;
}
#intro .inner .wrap article:nth-of-type(2) .pic_1 {
  width: 650px;
  height: 400px;
  position: relative;
  overflow: hidden;
  margin-right: 70px;
}
#intro .inner .wrap article:nth-of-type(2) .pic_1:hover div:nth-child(1) {
  width: 610px;
  transition: all 0.5s;
}
#intro .inner .wrap article:nth-of-type(2) .pic_1:hover div:nth-child(2) {
  height: 350px;
  transition: all 0.5s;
  transition-delay: 0.5s;
}
#intro .inner .wrap article:nth-of-type(2) .pic_1:hover div:nth-child(3) {
  width: 600px;
  transition: all 0.5s;
  transition-delay: 1s;
}
#intro .inner .wrap article:nth-of-type(2) .pic_1:hover div:nth-child(4) {
  height: 340px;
  transition: all 0.5s;
  transition-delay: 1.5s;
}
#intro .inner .wrap article:nth-of-type(2) .pic_1:hover p {
  opacity: 1;
  transition: 0.5s;
}
#intro .inner .wrap article:nth-of-type(2) .pic_1 div {
  position: absolute;
  background-color: rgba(250, 250, 250, 0.8);
  opacity: 0.9;
  z-index: 3;
}
#intro .inner .wrap article:nth-of-type(2) .pic_1 div:nth-child(1) {
  top: 20px;
  left: 20px;
  height: 10px;
  width: 0;
}
#intro .inner .wrap article:nth-of-type(2) .pic_1 div:nth-child(2) {
  top: 30px;
  right: 20px;
  width: 10px;
  height: 0;
}
#intro .inner .wrap article:nth-of-type(2) .pic_1 div:nth-child(3) {
  bottom: 20px;
  right: 30px;
  height: 10px;
  width: 0;
}
#intro .inner .wrap article:nth-of-type(2) .pic_1 div:nth-child(4) {
  bottom: 30px;
  left: 20px;
  width: 10px;
  height: 0;
}
#intro .inner .wrap article:nth-of-type(2) .pic_1 img {
  float: left;
  width: 650px;
  height: 400px;
  object-fit: cover;
  margin-right: 90px;
}
#intro .inner .wrap article:nth-of-type(2) .pic_1 p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-family: "arial";
  font-weight: bold;
  color: rgb(250, 250, 250);
  opacity: 0;
  z-index: 5;
}
#intro .inner .wrap article:nth-of-type(2) .pic_1 p a {
  font-size: 30px;
  font-weight: bold;
  color: #000;
}
#intro .inner .wrap article:nth-of-type(2) .pic_2 {
  width: 280px;
  height: 280px;
  position: relative;
  margin-top: 120px;
}
#intro .inner .wrap article:nth-of-type(2) .pic_2:hover div:nth-child(1) {
  width: 250px;
  transition: all 0.5s;
}
#intro .inner .wrap article:nth-of-type(2) .pic_2:hover div:nth-child(2) {
  height: 240px;
  transition: all 0.5s;
  transition-delay: 0.5s;
}
#intro .inner .wrap article:nth-of-type(2) .pic_2:hover div:nth-child(3) {
  width: 240px;
  transition: all 0.5s;
  transition-delay: 1s;
}
#intro .inner .wrap article:nth-of-type(2) .pic_2:hover div:nth-child(4) {
  height: 230px;
  transition: all 0.5s;
  transition-delay: 1.5s;
}
#intro .inner .wrap article:nth-of-type(2) .pic_2:hover p {
  opacity: 1;
  transition: 0.5s;
}
#intro .inner .wrap article:nth-of-type(2) .pic_2 div {
  position: absolute;
  background-color: rgba(250, 250, 250, 0.8);
  opacity: 0.9;
  z-index: 3;
}
#intro .inner .wrap article:nth-of-type(2) .pic_2 div:nth-child(1) {
  top: 15px;
  left: 15px;
  height: 10px;
  width: 0;
}
#intro .inner .wrap article:nth-of-type(2) .pic_2 div:nth-child(2) {
  top: 25px;
  right: 15px;
  width: 10px;
  height: 0;
}
#intro .inner .wrap article:nth-of-type(2) .pic_2 div:nth-child(3) {
  bottom: 15px;
  right: 25px;
  height: 10px;
  width: 0;
}
#intro .inner .wrap article:nth-of-type(2) .pic_2 div:nth-child(4) {
  bottom: 25px;
  left: 15px;
  width: 10px;
  height: 0;
}
#intro .inner .wrap article:nth-of-type(2) .pic_2 img {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#intro .inner .wrap article:nth-of-type(2) .pic_2 p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-family: "arial";
  font-weight: bold;
  color: rgb(250, 250, 250);
  opacity: 0;
  z-index: 5;
}
#intro .inner .wrap article:nth-of-type(3) {
  margin-top: 50px;
}
#intro .inner .wrap article:nth-of-type(3) .txt1 {
  float: left;
  padding-left: 40px;
}
#intro .inner .wrap article:nth-of-type(3) .txt1 h2 {
  font-size: 40px;
  font-family: "Frank Ruhl Libre";
  font-weight: 300;
  color: #555;
}
#intro .inner .wrap article:nth-of-type(3) .txt2 {
  width: 450px;
  float: right;
}
#intro .inner .wrap article:nth-of-type(3) .txt2 p {
  font-size: 15px;
  font-family: "Frank Ruhl Libre";
  font-weight: 300;
  line-height: 1.2;
  color: #333;
  margin-bottom: 30px;
}
#intro .inner .wrap article:nth-of-type(3) .txt2 p a {
  font-size: 30px;
  font-weight: bold;
  color: #555;
  transition: 0.5s;
}
#intro .inner .wrap article:nth-of-type(3) .txt2 p a:hover {
  font-size: 40px;
  color: pink;
}
#intro .inner .wrap article:nth-of-type(3)::after {
  content: "";
  display: block;
  clear: both;
}

#product {
  width: 100%;
  height: 100vh;
  padding: 100px 0px;
  background-color: rgb(220, 229, 238);
  position: relative;
  margin: auto;
}
#product .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  position: relative;
}
#product .inner h3 {
  font-size: 17px;
  font-family: "Frank Ruhl Libre";
  font-weight: 900;
  line-height: 1;
  color: #555;
}
#product .inner h2 {
  font-size: 40px;
  font-family: "Frank Ruhl Libre";
  font-weight: 900;
  color: #333;
}
#product .inner p {
  font-size: 20px;
  font-family: "Karla";
  line-height: 4;
  color: #555;
}
#product .inner .wrap {
  margin-top: 50px;
  width: 200%;
  height: 380px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#product .inner .wrap article {
  width: 16.6666666667%;
  float: left;
}
#product .inner .wrap article img {
  background-color: rgb(230, 230, 230);
  width: 380px;
  height: 380px;
  object-fit: contain;
  border-radius: 50%;
  margin-bottom: 20px;
}
#product .inner .wrap article h3 {
  font-size: 20px;
  font-family: "Frank Ruhl Libre";
  font-weight: 900;
  color: #555;
}
#product .inner .wrap article p {
  font-size: 20px;
  font-family: "Karla";
  line-height: 3;
  color: #333;
}
#product .inner .prev {
  position: absolute;
  top: 50%;
  left: 0;
}
#product .inner .next {
  position: absolute;
  top: 50%;
  right: 0;
}

#brand {
  width: 100%;
  padding: 150px 0px;
}
#brand .inner {
  width: 1180px;
  margin: 0 auto;
  text-align: center;
}
#brand .inner h3 {
  font-size: 20px;
  font-family: "Frank Ruhl Libre";
  font-weight: 900;
  line-height: 1;
  color: #777;
}
#brand .inner h2 {
  font-size: 40px;
  font-family: "Frank Ruhl Libre";
  font-weight: 900;
  color: #333;
  margin-bottom: 20px;
}
#brand .inner p {
  font-size: 15px;
  font-family: "Karla";
  line-height: 1.2;
  color: #000;
}
#brand .inner .wrap {
  position: relative;
  width: 60vw;
  height: 65vh;
  margin: 100px auto 0px;
  overflow: hidden;
}
#brand .inner .wrap .panel {
  width: 300%;
  height: 100%;
  transition: 1s;
}
#brand .inner .wrap .panel li {
  width: 33.3333333333%;
  height: 100%;
  float: left;
}
#brand .inner .wrap .panel li:nth-of-type(1) {
  background: url(../img/brand_story1.jpg);
  background-size: cover;
}
#brand .inner .wrap .panel li:nth-of-type(2) {
  background: url(../img/brand_story2.jpg);
  background-size: cover;
}
#brand .inner .wrap .panel li:nth-of-type(3) {
  background: url(../img/brand_story3.png);
  background-size: cover;
}
#brand .inner .wrap .btns {
  position: absolute;
  bottom: 15px;
  right: 20px;
}
#brand .inner .wrap .btns li {
  float: left;
  margin: 20px;
}
#brand .inner .wrap .btns li a {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.7;
}
#brand .inner .wrap .btns li.on a {
  background-color: #000;
}

#comments {
  width: 100%;
  margin: 150px 0px;
}
#comments .inner {
  width: 1180px;
  margin: 0 auto;
}
#comments .inner h2 {
  font: 40px "Frank Ruhl Libre";
  color: #333;
  text-align: center;
}
#comments .inner .wrap {
  width: 100%;
}
#comments .inner .wrap article {
  width: 280px;
  height: 400px;
  border: 1px solid #999;
  margin-top: 100px;
  margin-right: 20px;
  float: left;
  position: relative;
}
#comments .inner .wrap article li {
  width: 100%;
  height: 100%;
}
#comments .inner .wrap article li a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  line-height: 1;
  font-family: "Frank Ruhl Libre";
  color: #999;
}
#comments .inner .wrap article li span {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  line-height: 1;
  font-family: "Frank Ruhl Libre";
  color: #999;
}
#comments .inner .wrap article li:hover {
  background-color: rgb(164, 182, 201);
}
#comments .inner .wrap article li:hover a {
  color: #fff;
}
#comments .inner .wrap article li:hover span {
  color: #ddd;
}
#comments .inner .wrap article:last-of-type {
  margin-right: 0px;
}
#comments .inner .wrap::after {
  content: "";
  display: block;
  clear: both;
}

#footer {
  width: 100%;
  padding: 100px 0;
  background: rgb(220, 229, 238);
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1 {
  font: bold 24px/1 "arial";
  color: #666;
  float: left;
}
#footer .inner ul {
  float: right;
}
#footer .inner ul li {
  float: left;
  margin-left: 20px;
}
#footer .inner ul li a {
  font: bold 14px/1 "arial";
  color: #666;
}
#footer .inner address {
  width: 100%;
  font: 14px/1.3 "arial";
  color: #777;
  margin-bottom: 20px;
  margin-top: 20px;
  float: left;
  border-top: 1px solid #888;
  padding-top: 20px;
}
#footer .inner p {
  width: 100%;
  font: 12px/1 "arial";
  color: #777;
  float: left;
}

@media screen and (max-width: 1179px) {
  #header .inner {
    width: 100%;
    height: 100%;
  }
  #header .inner .wrap a {
    margin-left: 30px;
  }
  #header .inner .menuWeb {
    display: none;
  }
  #header .inner .btnCall {
    display: block;
    margin-right: 30px;
  }
  #intro {
    width: 100%;
    margin-right: 0px;
  }
  #intro .inner {
    width: 100%;
  }
  #intro .inner .wrap article:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #intro .inner .wrap article:nth-of-type(2) .pic_1 {
    margin-right: 0px;
  }
  #intro .inner .wrap article:nth-of-type(2) .pic_1:hover div:nth-child(1) {
    width: calc(100% - 40px);
    transition: all 0.5s;
  }
  #intro .inner .wrap article:nth-of-type(2) .pic_1:hover div:nth-child(3) {
    width: calc(100% - 50px);
    transition: all 0.5s;
    transition-delay: 1s;
  }
  #intro .inner .wrap article:nth-of-type(2) .pic_1 img {
    width: 100%;
  }
  #intro .inner .wrap article:nth-of-type(2) .pic_2 {
    display: none;
  }
  #product .inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  #product .inner .wrap {
    margin-top: 50px;
    width: 100%;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
  }
  #product .inner .wrap article {
    width: 50%;
    float: left;
  }
  #brand .inner {
    width: 100%;
  }
  #brand .inner .wrap .panel {
    width: 300%;
    height: 100%;
    transition: 1s;
  }
  #brand .inner .wrap .panel li {
    width: 33.3333333333%;
    height: 100%;
    float: left;
  }
  #brand .inner .wrap .panel li:nth-of-type(1) {
    background: url(../img/brand_story1.jpg) no-repeat;
    background-size: cover;
  }
  #brand .inner .wrap .panel li:nth-of-type(2) {
    background: url(../img/brand_story2.jpg);
    background-size: cover;
    object-fit: cover;
  }
  #brand .inner .wrap .panel li:nth-of-type(3) {
    background: url(../img/brand_story3.png);
    background-size: cover;
  }
  #comments .inner {
    width: 100%;
  }
  #comments .inner .wrap article {
    width: 49%;
    margin-right: 2%;
  }
  #comments .inner .wrap article:nth-of-type(2n) {
    margin-right: 0px;
  }
  #footer {
    padding: 100px 20px;
  }
  #footer .inner {
    width: 100%;
  }
}
@media screen and (max-width: 539px) {
  #header .inner {
    width: 100%;
  }
  #header .inner .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }
  #header .inner .wrap a img {
    width: 200px;
  }
  #header .copy {
    display: none;
  }
  #intro .inner .wrap article:nth-of-type(1) .txt2 {
    width: 100%;
    margin-top: 50px;
  }
  #intro .inner .wrap article:nth-of-type(1) .txt2 p {
    display: none;
  }
  #intro .inner .wrap article:nth-of-type(3) .txt2 p {
    margin-top: 40px;
  }
  #intro .inner .wrap article:nth-of-type(3) .txt2 p:last-of-type {
    display: none;
  }
  #product .inner .wrap article {
    width: 100%;
  }
  #comments .inner {
    width: 100%;
  }
  #comments .inner .wrap {
    padding: 20px;
  }
  #comments .inner .wrap article {
    width: 100%;
    margin-top: 20px;
  }
  #footer {
    padding: 100px 20px;
  }
  #footer .inner {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
