@charset "UTF-8";
*{margin: 0px; padding: 0px; box-sizing: border-box;}
ul,ol,li{list-style: none;}
a {text-decoration: none;}



#header_sub{
    width: 100%; height: 100px; 
    position: relative; 
    background-color: #fff;
    .inner{
        width: 1180px; height: 100%; 
        position: absolute; top: 0%; left: 0%; bottom: 0%; right: 0%;
        margin: auto;
        .wrap{
            position: absolute; top: 30px; left: 0;
            &.on{
                opacity: 0;
            }
            a{
                img{
                    width: 150px; opacity: 0.8;
                }
            }
        }
        .menuWeb{
            #gnb{
                position: absolute; top: 50px; right: 0;
                li{
                    float: left;
                    a{
                        display: block; 
                        padding-bottom: 10px;
                        margin: 14px 60px;
                        font-size: 20px;
                        font-family: 'Karla';
                        line-height: 1;
                        color: #000;
                        position: relative;
                        &:last-child{
                            margin-right: 0px;
                        }
                        &::before{
                            content: '';
                            position: absolute; bottom: 0;
                            background-color: #fff;
                            height: 2px;
                            width: 0;
                            transition: 0.7s;
                        }
                        &:hover::before{
                            width: 100%;
                        }
                    }
                }
            }
        }

        .util{
            opacity: 0;
            //어디에 배치할지,
        }

        .copy{
            position: absolute; top: 50%; 
            text-align: center;

            &.on{
                padding-left: 300px;
                h1{
                    font-size: 40px;
                }

            }

            h1{
                font-size: 50px;
                font-family: 'Frank Ruhl Libre';
                font-weight: 900;
                line-height: 1;
                color: #efefef; opacity: 0.9;
            }
            p{
                font-size: 18px;
                font-family: 'Karla';
                line-height: 1.4;
                color: #efefef;
            }
        }

        .btnCall{
            width: 20px; height: 20px;
            position: fixed;
            top: 5%; right: 0px;
            z-index: 999;
            display: none;


            &::before{
                content: ''; display: block; width: 100%; height: 2px; background: #000;
                position: absolute; top: 0; left: 0;
                transition: 0.5s;
                
            }
            &::after{
                content: ''; display: block; width: 100%; height: 2px; background: #000;
                position: absolute; bottom: 0; left: 0px;
                transition: 0.5s;  
            }
            span{
                display: block; width: 100%; height: 2px; background: #000;
                position: absolute; top: 50%; left: 0px;  margin-top: -1px;
                text-indent: -99999px;
                
            }

            &.on{

                &::before{
                    top: 50%;
                    transform: rotate(45deg);
                    margin-top: -1px;
                    transition: 0.5s;
                }
                &::after{
                    bottom: 50%;
                    transform: rotate(-45deg);
                    margin-bottom: -1px;
                    transition: 0.5s;
                }
                span{
                    display: none;
                }
            }
        }
        .menuMo{
            width: 300px; height: 100vh; background-color: rgba(171, 188, 207, 0.8) ;
    
            position: fixed; top: 0px; left: -700px;
            z-index: 20;

            transition: 0.5s;
            &.on{
                left: 0px;
            }
            h1{
                padding-top: 50px; padding-left: 10px;
                border-bottom: 3px solid #efefef;
                width: 100%;
                text-align: center;
                a{
                    img{
                        width: 100px;
                        margin-bottom: 10px;
                    }
                }
            }

            #gnbMo{
                li{
                    a{
                        display: block;
                        width: 100%; padding: 30px;
                        border-bottom: 1px solid #fff;
                        font-size: 20px;
                        font-weight: bold;
                        font-family: 'Karla';
                        color: #fff;
                        text-align: center;
                        &:hover{
                            background: #999;
                        }
                    }

                }
            }
        }
    }
}

.content{
    width:100%; padding:0 0 150px; 

    .sub_visual{
        width:100%; height:250px; background:#bbb; 
        margin-bottom:100px; 
    }
    .inner{
        width:1180px; margin:0 auto; 
        min-height:500px; 

        h1{
            font:normal 50px/1 'arial'; color:#000; 
            margin-bottom:60px; 

            span{
                font:normal 20px/1 '맑은 고딕'; color:#aaa; 

                &::before{
                    content:'/'; margin-right:20px; margin-left:10px; 
                }
            }
        }
    }
}
#gallery{

    #searchBox{
        width: 100%; padding: 50px; font-size: 0;
        #search{
            width: 300px; height: 30px; border: 1px solid #333;
            padding-left: 10px;
        }
        .btnSearch{
            width: 80px; height: 30px;
            background: #333;
            font: bold 12px/30px 'arial'; color: #fff;
            text-align: center;
            cursor: pointer;
            margin-left: 10px;
            vertical-align: top;
        }
    }
    #wrap{
        width: 100%; padding: 50px;
        .loading{
            width: 100px; position: fixed; top: 50%; left: 50%;
            transform: translate(-50%,-50%);
            transition: 1s; 
            display: none;
            &.off{
                opacity: 0;
            }
        }


        #list{
            width: 100%;
            opacity: 0; transform: translateY(100px); transition: 1s;
            &.on{
                opacity: 1; transform: translateY(0px);
            }
            &::after{
                content: ''; display: block; clear: both;
            }
            li{
                float: left; width: calc(100% / 3); padding: 10px;

                div{
                    width: 100%; padding: 20px; box-shadow: 5px 5px 20px rgba(0,0,0,0.1); border-radius: 5px;
                    a{
                        >img{
                            width: 100%; filter: grayscale(100%); 
                        }
                    }
                    p{
                        font: 12px/1.2 'arial'; color: #777; margin-top: 10px;
                        margin-bottom: 10px;
                    }
                    span{
                        display: flex; align-items: center; margin-top: 10px;
                        >img{
                            width: 20px; height: 20px; border-radius: 50%;
                            margin-right: 10px;
                        }
                        strong{
                            font: 11px/1 'arial'; color: orange;
                        }
                    }
                }
            }
        }
    }
    aside{
        width: 100%; height: 100vh;
        background: rgba(0,0,0,0.7);
        position: fixed; top: 0px; left: 0px;
        padding: 5vw;
        display: flex; justify-content: center; align-items: center;
        .con{
            width: 100%; height: 100%;
            >img{
                width: 100%; height: 100%; object-fit: contain;
            }
        }
        .close{
            position: absolute;
            top: 20px; right: 20px; color: #fff;
        }
    }
}




#footer{
    width: 100%; background-color: #cfcfcf;
    .inner{
        width: 1180px;
        >ul{
            width: 100%;
            border-bottom: 1px solid #999;
            display: flex; justify-content: right;
            padding-bottom: 10px;
            margin-bottom: 20px;
            li{
                font-size: 15px;
                font-family: 'Gowun Dodum';
                font-weight: bold;
                color: #777;
            }
        }
        .wrap{
            display: flex; justify-content: space-between;
            width: 100%;
            .pic{
                width: 220px; margin-right: 20px;
                img{
                    width: 150px;
                    padding: 10px;
                }
            }
            article{
                width: 220px;
                &:nth-of-type(1){
                    text-align: right;
                    h4{
                        font-size: 15px;
                        font-family:'Tajawal';
                        font-weight: bold;
                        line-height: 2;
                        color: #777;
                    }
                }
                &:nth-of-type(2){
                    p{
                        font-size: 15px;
                        font-family: 'Gowun Dodum';
                        line-height: 2;
                    }
                }
                &:nth-of-type(4){
                    h4{
                        font-size: 15px;
                        font-family: 'Gowun Dodum';
                        color: #555;
                    }
                    h3{
                        font-size:20px;
                        color: #555;
                        line-height: 2;
                    }
                    p{
                        margin-bottom: 40px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width:1179px){
    #header_sub{
        .inner{
            width: 100%; height: 100%;
            .wrap{
                a{
                    margin-left: 30px;
                }
            }
            .menuWeb{
                display: none;
            }

            .btnCall{
                display: block;
                margin-right: 30px;
            }       
        }
    }



    #product{
        .inner{
            width: 100%; height: 100%;
            margin: 0 auto;
            text-align: center;
            overflow: hidden;
            position: relative;
            .wrap{
                margin-top: 50px;
                width: 100%;
                height: 380px;
                position: absolute; top: 50%; left: 0%; transform: translateY(-50%);
                article{
                    width: 50%;
                    float: left;
                }
            }
        }
    
    }






    #footer{
           padding: 100px 20px;
        .inner{
            width: 100%;
        }
    }
    
}

@media screen and (max-width: 539px) {
    #header_sub{
        .inner{
            width: 100%;
            .wrap{
                position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
                transition: 0.5s;
                a{
                    img{
                        width: 200px;
                    }
                }
            }
        }
        .copy{
            display: none;
        }
    }


    #product{
        .inner{

            .wrap{

                article{
                    width: 100%;

                }
            }
        }
    
    }




    #footer{
           padding: 100px 20px;
        .inner{
            width: 100%;
        }
    }

    
}
