@charset "UTF-8";
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;900&family=Karla:wght@200&family=Tajawal:wght@300;500&display=swap');
=======
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Karla:wght@200&family=Noto+Serif+KR:wght@200;300&family=Tajawal:wght@200;300;500&display=swap');
>>>>>>> 9368a8836a55bee00cc80f6c9bd326c230735c1f
@import "sub_layout.scss";
@import "gallery.scss";



*{margin: 0px; padding: 0px; box-sizing: border-box;}
ul,ol,li{list-style: none;}
a {text-decoration: none;}


#header{
    width: 100%; 
    height: 100px; 
    position: relative; 
    background-color: rgb(4, 36, 4);
    .inner{
        width: 1180px; height: 100%; 
        position: absolute; top: 0%; left: 0%; bottom: 0%; right: 0%;
        margin: auto;
        .wrap{
            position: absolute; top: 40px; left: 0;
            a{
                img{
                    width: 120px; opacity: 0.8;
                }
            }
        }
        .menuWeb{
            #gnb{
                position: absolute; top: 50px; right: 0;
                li{
                    float: left;
                    a{
                        display: block; 
                        padding-bottom: 10px;
                        margin: 14px 60px;
                        font-size: 20px;
                        font-family: 'Karla';
                        line-height: 1;
                        color: #efefef;
                        position: relative;
                        &:last-child{
                            margin-right: 0px;
                        }
                        &::before{
                            content: '';
                            position: absolute; bottom: 0;
                            background-color: #fff;
                            height: 2px;
                            width: 0;
                            transition: 0.7s;
                        }
                        &:hover::before{
                            width: 100%;
                        }
                    }
                }
            }
        }

        .util{
            opacity: 0;
            //어디에 배치할지,
        }

<<<<<<< HEAD
        .copy{
            position: absolute; top: 50%; 
            text-align: center;

            &.on{
                padding-left: 300px;
                h1{
                    font-size: 40px;
                }

            }

            h1{
                font-size: 50px;
                font-family: 'Frank Ruhl Libre';
                font-weight: bold;
                line-height: 1;
                color: #efefef; opacity: 0.9;
            }
            p{
                font-size: 18px;
                font-family: 'Karla';
                line-height: 1.4;
                color: #efefef;
            }
        }

        .btnCall{
            width: 20px; height: 20px;
            position: fixed;
            top: 5%; right: 0px;
            z-index: 999;
            display: none;


            &::before{
                content: ''; display: block; width: 100%; height: 2px; background: #000;
                position: absolute; top: 0; left: 0;
                transition: 0.5s;
                
            }
            &::after{
                content: ''; display: block; width: 100%; height: 2px; background: #000;
                position: absolute; bottom: 0; left: 0px;
                transition: 0.5s;  
            }
            span{
                display: block; width: 100%; height: 2px; background: #000;
                position: absolute; top: 50%; left: 0px;  margin-top: -1px;
                text-indent: -99999px;
                
            }

            &.on{

                &::before{
                    top: 50%;
                    transform: rotate(45deg);
                    margin-top: -1px;
                    transition: 0.5s;
                }
                &::after{
                    bottom: 50%;
                    transform: rotate(-45deg);
                    margin-bottom: -1px;
                    transition: 0.5s;
                }
                span{
                    display: none;
                }
            }
        }
        .menuMo{
            width: 300px; height: 100vh; background-color: rgba(171, 188, 207, 0.8) ;
             
            position: fixed; top: 0px; left: -700px;
            z-index: 20;

            transition: 0.5s;
            &.on{
                left: 0px;
            }
            h1{
                padding-top: 50px; padding-left: 10px;
                border-bottom: 3px solid #efefef;
                width: 100%;
                text-align: center;
                a{
                    img{
                        width: 100px;
                        margin-bottom: 10px;
                    }
                }
            }

            #gnbMo{
                li{
                    a{
                        display: block;
                        width: 100%; padding: 30px;
                        border-bottom: 1px solid #fff;
                        font-size: 20px;
                        font-weight: bold;
                        font-family: 'Karla';
                        color: #fff;
                        text-align: center;
                        &:hover{
                            background: #999;
                        }
                    }

                }
            }
        }
    }
}

#intro{
    width: 100%;
    padding: 150px 0px;
    .inner{
        width: 1180px;
        margin: 0 auto; 
        >h2{
            padding-left: 40px;
            font-size: 40px;
            font-family: 'Frank Ruhl Libre';
            font-weight: 900;
            color: #555;
        }

        .wrap{
            margin-top: 70px;
            article{
                &:nth-of-type(1){
                    .txt1{
                        width: 400px; float: left;
                        padding-left: 40px;
                        h3{
                            font-size: 18px;
                            font-family: 'Frank Ruhl Libre';
                            font-weight: bold;
                            color: rgb(171, 188, 207);
                            a{
                                font-size: 25px;
                                font-weight: bold;
                                color: #555;
                                transition: 0.5s;
                                &:hover{
                                    font-size: 40px;
                                    color: pink;
                                }
                            }
                        }      
                    }
                    .txt2{
                        width: 500px;  float: right;
                        p{
                            font-size: 15px;
                            font-family: 'Frank Ruhl Libre';
                            font-weight: 300;
                            line-height: 1.2;
                            color: #333;
                            margin-bottom: 30px;

                        }
                    }
                    &::after{
                        content: ''; display: block; clear: both;
                    }
                }
                &:nth-of-type(2){
                    margin-top: 30px; display: flex;
                    .pic_1 {
                        width: 650px; height: 400px;
                        position: relative; 
                        overflow: hidden ;
                        margin-right: 70px;
                        &:hover div:nth-child(1){width: 610px; transition: all 0.5s;}
                        &:hover div:nth-child(2){height: 350px; transition: all 0.5s; transition-delay: 0.5s;}
                        &:hover div:nth-child(3){width: 600px; transition: all 0.5s; transition-delay: 1s;}
                        &:hover div:nth-child(4){height: 340px; transition: all 0.5s; transition-delay: 1.5s;}
                        &:hover p{
                            opacity: 1; transition: 0.5s;
                        }
                        div{
                            position: absolute;
                            background-color: rgba(250,250,250,0.8); 
                            opacity: 0.9;
                            z-index: 3;
                            &:nth-child(1){
                                top: 20px; left:20px; height: 10px; width: 0;
                
                            }
                            &:nth-child(2){
                                top: 30px; right: 20px; width: 10px; height: 0;
                                
                                
                            }
                            &:nth-child(3){
                                bottom: 20px; right: 30px; height: 10px; width: 0;
                                                              
                            }
                            &:nth-child(4){
                                bottom: 30px; left: 20px; width: 10px; height: 0;
                              
                            }
                        }                 
                        img{
                            float: left;
                            width: 650px; height: 400px; object-fit: cover;
                            margin-right: 90px;
                        }
                        p{
                            position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
                            font-size: 100px;
                            font-family: 'arial';
                            font-weight: bold;
                            color: rgb(250,250,250);
                            opacity: 0;
                            z-index: 5;
                            a{
                                font-size: 30px;
                                font-weight: bold;
                                color: #000;
                            }
                        }
                    }
                    .pic_2{ 

                        width: 280px; height: 280px; position: relative;
                        margin-top: 120px;
                        &:hover div:nth-child(1){width: 250px; transition: all 0.5s;}
                        &:hover div:nth-child(2){height: 240px; transition: all 0.5s; transition-delay: 0.5s;}
                        &:hover div:nth-child(3){width: 240px; transition: all 0.5s; transition-delay: 1s;}
                        &:hover div:nth-child(4){height: 230px; transition: all 0.5s; transition-delay: 1.5s;}
                        &:hover p{
                            opacity: 1; transition: 0.5s;
                        }
                        div{
                            position: absolute;
                            background-color: rgba(250,250,250,0.8); 
                            opacity: 0.9;
                            z-index: 3;
                            &:nth-child(1){
                                top: 15px; left:15px; height: 10px; width: 0;
                
                            }
                            &:nth-child(2){
                                top: 25px; right: 15px; width: 10px; height: 0;
                                
                                
                            }
                            &:nth-child(3){
                                bottom: 15px; right: 25px; height: 10px; width: 0;
                                                              
                            }
                            &:nth-child(4){
                                bottom: 25px; left: 15px; width: 10px; height: 0;
                              
                            }
                        }
                        
                        img{ 
                            position: absolute; bottom: 0px;
                            width: 100%; height: 100%; object-fit: cover;
                        }
                        p{
                            position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
                            font-size: 60px;
                            font-family: 'arial';
                            font-weight: bold;
                            color: rgb(250,250,250);
                            opacity: 0;
                            z-index: 5;
                        }
                    }

                }

                &:nth-of-type(3){
                    margin-top: 50px;
                    .txt1{
                        float: left;
                        padding-left: 40px;
                        h2{
                            font-size: 40px;
                            font-family: 'Frank Ruhl Libre';
                            font-weight: 300;
                            color: #555;
                        }      
                    }
                    .txt2{
                        width: 450px;  float: right;
                        p{
                            font-size: 15px;
                            font-family: 'Frank Ruhl Libre';
                            font-weight: 300;
                            line-height: 1.2;
                            color: #333;
                            margin-bottom: 30px;
                            a{
                                font-size: 30px;
                                font-weight: bold;
                                color: #555;
                                transition: 0.5s;
                                &:hover {
                                    font-size: 40px;
                                    color: pink;
                                
                                }
                            }
                        }
                    }
                    &::after{
                        content: ''; display: block; clear: both;
                    }

                }
            }
        }
    }    
}


#brand{
    width: 100%; padding: 150px 0px;
    .inner{
        width: 1180px; margin: 0 auto; 
        text-align: center;
        h3{
            font-size: 20px;
            font-family: 'Frank Ruhl Libre';
            font-weight: 900;
            line-height: 1;
            color: #777;
        }
        h2{
            font-size: 40px;
            font-family: 'Frank Ruhl Libre';
            font-weight: 900;
            color: #333;
            margin-bottom: 20px;
        }
        p{
            font-size: 15px;
            font-family: 'Karla';
            line-height: 1.2;
            color: #000;
        }
        .wrap{ 
            position: relative;
            width: 60vw; height: 65vh; margin: 100px auto 0px; 
            overflow: hidden;
            .panel{
                width: 300%; height: 100%;
                transition: 1s;
                li{ 
                    width: calc( 100% / 3 ); height: 100%;
                    float: left;

                    &:nth-of-type(1){background: url(../img/brand_story1.jpg);background-size: cover;}
                    &:nth-of-type(2){background: url(../img/brand_story2.jpg);background-size: cover;}
                    &:nth-of-type(3){background: url(../img/brand_story3.png);background-size: cover;}
                }
            }
            .btns{
                position: absolute; bottom: 15px; right: 20px;
                li{
                    float: left; margin: 20px;
                    a{
                        display: block;
                        width: 20px; height: 20px;
                        border-radius: 50%;
                        background-color: #fff;
                        opacity: 0.7;
                    }
                    &.on a{
                        background-color: #000;
                    }
                }
            }
        }
    }
}




#product{
    width: 100%; 
    height: 100vh;
    padding: 100px 0px; 
    background-color: rgb(220, 229, 238);
    position: relative; 
    margin: auto;
    .inner{
        width: 1180px; height: 100%;
        margin: 0 auto;
        text-align: center;
        overflow: hidden;
        position: relative;
        h3{
            font-size: 17px;
            font-family: 'Frank Ruhl Libre';
            font-weight: 900;
            line-height: 1;
            color: #555;
        }
        h2{
            font-size: 40px;
            font-family: 'Frank Ruhl Libre';
            font-weight: 900;
            color: #333;
        }
        p{
            font-size: 20px;
            font-family: 'Karla';
            line-height: 4;
            color: #555;
        }
        .wrap{
            margin-top: 50px;
            width: 200%;
            height: 380px;
            position: absolute; top: 50%; left: 0; transform: translateY(-50%);
            article{
                width: calc(100% / 6);
                float: left;
                img{
                    background-color: rgb(230,230,230);
                    width:380px; height: 380px; object-fit: contain; 
                    border-radius: 50%;
                    margin-bottom: 20px;
                }
                h3{
                    font-size: 20px;
                    font-family: 'Frank Ruhl Libre';
                    font-weight: 900;
                    color: #555;

                }
                p{
                    font-size: 20px;
                    font-family: 'Karla';
                    line-height: 3;
                    color: #333;
                }
            }
        }

        .prev{
            position: absolute; top: 50%; left: 0;
        }
        .next{
            position: absolute; top: 50%; right: 0;
        }
=======
    }
}

#visual{
    width: 100%; height: 500px;
    background-color: #000;
    video{
        width: 100%; height: 100%;
        object-fit: cover;
        opacity: 0.7;
>>>>>>> 9368a8836a55bee00cc80f6c9bd326c230735c1f
    }
    .inner{
        width: 1180px{
            
        };

    }
}

<<<<<<< HEAD


#comments{
    width: 100%; margin: 150px 0px;

    .inner{
        width: 1180px; margin: 0 auto;

        h2{
            font: 40px 'Frank Ruhl Libre'; color: #333; text-align: center;
        }

=======
#brand{
    width: 100%; padding: 150px 0px;
    background-color: #efefef;
    .inner{
        width: 1180px; margin: 0 auto;
        text-align: center;
        .logo{
            img{
                width: 50px;
                filter: brightness(60%);
            }
        }
        h2{
            font-size: 40px;
            font-family:'Tajawal';
            font-weight: 200;
            line-height: 1;
            color: #555;
        }
        >h3{
            font-size: 15px;
            font-family:'Gowun Dodum';
            font-weight: 200;
            line-height: 1.5;
            color: #555;
            margin-bottom: 100px;
        }
>>>>>>> 9368a8836a55bee00cc80f6c9bd326c230735c1f
        .wrap{
            width: 100%; margin: 0 auto;
            border-bottom: 2px solid #999;
            .text{
                position: relative;
                border-top: 2px solid #999;
                margin-bottom: 60px;
                    >h2{
                    font-size: 25px;
                    font-family:'Gowun Dodum';
                    font-weight: bold;
                    color: #777;

                    background-color: #efefef;
                    position: absolute; top: -20px; left: 50%; transform: translateX(-50%);
                    padding: 0px 20px;
                    
                    
                    }
                }
            article{
                width: 220px; height: 300px;
                float: left;
                margin-right: 20px;
                .pic{
                    img{
                        width:120px; border-radius: 50%;
                    }
                }
                h3{
                    font-size: 20px;
                    font-family:'Gowun Dodum';
                    color: #555;
                    padding-top: 20px;
                    font-weight: bold;
                }
                p{
                    font-size: 15px;
                    font-family:'Noto Serif KR';
                    font-weight: 300;
                    line-height: 1.5;
                    color: #555;
                    padding-top: 10px;
                }
                &:last-of-type{
                    margin-right: 0px;
                }


            }
            &::after{
                content: ''; display: block; clear: both;
            }

        }
    }
}

<<<<<<< HEAD

#footer{
    width: 100%; background-color: #cfcfcf;
    .inner{
        width: 1180px;
        >ul{
            width: 100%;
            border-bottom: 1px solid #999;
            display: flex; justify-content: right;
            padding-bottom: 10px;
            margin-bottom: 20px;
            li{
                font-size: 15px;
                font-family: 'Gowun Dodum';
                font-weight: bold;
                color: #777;
            }
        }
        .wrap{
            display: flex; justify-content: space-between;
            width: 100%;
            .pic{
                width: 220px; margin-right: 20px;
                img{
                    width: 150px;
                    padding: 10px;
                }
            }
            article{
                width: 220px;
                &:nth-of-type(1){
                    text-align: right;
                    h4{
                        font-size: 15px;
                        font-family:'Tajawal';
                        font-weight: bold;
                        line-height: 2;
                        color: #777;
                    }
                }
                &:nth-of-type(2){
                    p{
                        font-size: 15px;
                        font-family: 'Gowun Dodum';
                        line-height: 2;
                    }
                }
                &:nth-of-type(4){
                    h4{
                        font-size: 15px;
                        font-family: 'Gowun Dodum';
                        color: #555;
                    }
                    h3{
                        font-size:20px;
                        color: #555;
                        line-height: 2;
                    }
                    p{
                        margin-bottom: 40px;
=======
#intro{
    width: 100%; padding: 150px 0px;
    background: url(../img/배경2.png);
    .inner{
        width: 1180px; margin: 0 auto;
        text-align: center;

        .logo{
            img{
                width: 50px;
                filter: brightness(60%);
            }
        }
        >h2{
            font-size: 40px;
            font-family:'Tajawal';
            font-weight: 200;
            line-height: 1;
            color: #555;
        }
        >h3{
            font-size: 15px;
            font-family:'Gowun Dodum';
            font-weight: 200;
            line-height: 1;
            color: #555;
            margin-bottom: 100px;
        }

        .slide{
            .wrap1{
                article{
                    float: left;
                    &:nth-of-type(1){
                        width: 1180px;
                        height: 350px;
                        display: flex;
                        .pic{
                            width: 650px;
                            img{
                                width: 500px; height: 350px;
                            }
                        } 
                        .text{
                            width: 500px; text-align: left;
                            >h2{
                                width: 300px;
                                font-size: 40px;
                                font-family:'Gowun Dodum';
                                font-weight: bold;
                                line-height: 1;
                                color: #555;
                                border-bottom: 2px solid rgb(54, 95, 54) ;
                                padding-bottom: 10px;
                            }
                            >p{
                                font-size: 18px;
                                font-family:'karla';
                                font-weight: bold;
                                line-height: 1.4;
                                color: #555;
                                &:nth-of-type(2){
                                    font-size: 14px;
                                    font-family:'Gowun Dodum';
                                    font-weight: 300;
                                    line-height: 1.8;
                                    color: #555;
                                }
                            }
                            >h3{
                                font-size: 20px;
                                font-family:'Gowun Dodum';
                                color: #555;
                                margin-top: 50px;
                                margin-bottom: 20px;
                                
                            }
                            

                        }
                    }

                    &:nth-of-type(2),&:nth-of-type(3){
                        width: 580px; height: 170px;
                        margin-right: 20px;
                        background-color: rgba(0,0,0,0.2);
                        display: flex; align-items: center;
                        .pic{
                            width: 290px;
                            img{
                                height: 150px;
                            }
                        }
                        .text{
                            text-align: left;
                            h3{
                                width: 120px;
                                font-size: 18px;
                                font-family:'Gowun Dodum';
                                line-height: 1.6;
                                color: #444;
                                border-bottom: 1px solid #333;
                            }
                            p{
                                font-size: 15px;
                                font-family:'Gowun Dodum';
                                font-weight: 300;
                                line-height: 3;
                                color: #555;
                            }
                            a{
                                border: 1px solid #555;
                                padding: 5px 40px;
                                font-size: 15px;
                                font-family:'Gowun Dodum';
                                font-weight: 300;
                                line-height: 1.2;
                                color: #555;
                            }
                        }
>>>>>>> 9368a8836a55bee00cc80f6c9bd326c230735c1f
                    }
                    &:nth-of-type(3){
                        margin-right: 0px;
                    }
                }
<<<<<<< HEAD
=======
                &::after{
                    content: ''; display: block; clear: both;

                }
>>>>>>> 9368a8836a55bee00cc80f6c9bd326c230735c1f
            }
        }

    }

}

<<<<<<< HEAD


// 태블릿 구간

@media screen and (max-width:1179px){
    #header{
        .inner{
            width: 100%; height: 100%;
            .wrap{
                a{
                    margin-left: 30px;
                }
=======
#intro2{
    width: 100%; padding: 150px 0px;
    background: url(../img/배경.png);
    .inner{
        width: 1180px; margin: 0 auto;
        text-align: center;

        .logo{
            img{
                width: 50px;
                filter: brightness(60%);
>>>>>>> 9368a8836a55bee00cc80f6c9bd326c230735c1f
            }
        }
        >h2{
            font-size: 40px;
            font-family:'Tajawal';
            font-weight: 200;
            line-height: 1;
            color: #555;
        }
        >h3{
            font-size: 15px;
            font-family:'Gowun Dodum';
            font-weight: 200;
            line-height: 1;
            color: #555;
            margin-bottom: 100px;
        }

        .slide{
            .wrap1{
                article{
                    float: left;
                    &:nth-of-type(1){
                        width: 1180px;
                        height: 350px;
                        display: flex;
                        .pic{
                            width: 650px;
                            img{
                                width: 500px; height: 350px;
                            }
                        } 
                        .text{
                            width: 500px; text-align: left;
                            >h2{
                                width: 300px;
                                font-size: 40px;
                                font-family:'Gowun Dodum';
                                font-weight: bold;
                                line-height: 1;
                                color: #555;
                                border-bottom: 2px solid rgb(54, 95, 54) ;
                                padding-bottom: 10px;
                            }
                            >p{
                                font-size: 18px;
                                font-family:'karla';
                                font-weight: bold;
                                line-height: 1.4;
                                color: #555;
                                &:nth-of-type(2){
                                    font-size: 14px;
                                    font-family:'Gowun Dodum';
                                    font-weight: 300;
                                    line-height: 1.8;
                                    color: #555;
                                }
                            }
                            >h3{
                                font-size: 20px;
                                font-family:'Gowun Dodum';
                                color: #555;
                                margin-top: 50px;
                                margin-bottom: 20px;
                                
                            }
                            

                        }
                    }

                    &:nth-of-type(2),&:nth-of-type(3){
                        width: 580px; height: 170px;
                        margin-right: 20px;
                        background-color: rgba(0,0,0,0.2);
                        display: flex; align-items: center;
                        .pic{
                            width: 290px;
                            img{
                                height: 150px;
                            }
                        }
                        .text{
                            text-align: left;
                            h3{
                                width: 120px;
                                font-size: 18px;
                                font-family:'Gowun Dodum';
                                line-height: 1.6;
                                color: #444;
                                border-bottom: 1px solid #333;
                            }
                            p{
                                font-size: 15px;
                                font-family:'Gowun Dodum';
                                font-weight: 300;
                                line-height: 3;
                                color: #555;
                            }
                            a{
                                border: 1px solid #555;
                                padding: 5px 40px;
                                font-size: 15px;
                                font-family:'Gowun Dodum';
                                font-weight: 300;
                                line-height: 1.2;
                                color: #555;
                            }
                        }
                    }
                    &:nth-of-type(3){
                        margin-right: 0px;
                    }
                }
                &::after{
                    content: ''; display: block; clear: both;

                }
            }
            
        }

    }

}


#banner{
    width: 100%; height: 400px;
    background: url(../img/banner.png) no-repeat center/cover fixed;
    padding-top: 30px;
    .inner{
        width: 1180px; margin: 0 auto;
        text-align: center;
        padding: 30px 0px;
        .logo{
            width: 100%;
            img{
                width: 50px;
            }
        }
        h2{
            font-size: 40px;
            font-family:'Tajawal';
            font-weight: 200;
            line-height: 1;
            color: #fff;
        }
        >h3{
            font-size: 15px;
            font-family:'Gowun Dodum';
            font-weight: 200;
            line-height: 1.5;
            color: #fff;
            margin-bottom: 100px;
        }
        a{
            border: 1px solid #fff;
            padding: 15px 70px;
            color: #fff;
            &:hover{
                background: #555;
            }
        }

    }
}

#footer{
    width: 100%; background-color: #cfcfcf;
    .inner{
        width: 1180px;
        >ul{
            width: 100%;
            border-bottom: 1px solid #999;
            display: flex; justify-content: right;
            padding-bottom: 10px;
            margin-bottom: 20px;
            li{
                font-size: 15px;
                font-family: 'Gowun Dodum';
                font-weight: bold;
                color: #777;
            }
        }
        .wrap{
            display: flex; justify-content: space-between;
            width: 100%;
            .pic{
                width: 220px; margin-right: 20px;
                img{
                    width: 150px;
                    padding: 10px;
                }
            }
            article{
                width: 220px;
                &:nth-of-type(1){
                    text-align: right;
                    h4{
                        font-size: 15px;
                        font-family:'Tajawal';
                        font-weight: bold;
                        line-height: 2;
                        color: #777;
                    }
                }
                &:nth-of-type(2){
                    p{
                        font-size: 15px;
                        font-family: 'Gowun Dodum';
                        line-height: 2;
                    }
                }
                &:nth-of-type(4){
                    h4{
                        font-size: 15px;
                        font-family: 'Gowun Dodum';
                        color: #555;
                    }
                    h3{
                        font-size:20px;
                        color: #555;
                        line-height: 2;
                    }
                    p{
                        margin-bottom: 40px;
                    }
                }
            }
        }
    }
}
