@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;900&family=Karla:wght@200&display=swap');

*{margin: 0px; padding: 0px; box-sizing: border-box;}
ul,ol,li{list-style: none;}
a {text-decoration: none;}


// header 영역
#header{
    width: 100%; height: 100vh; position: relative;
    video{
        width: 100%; height: 100%; object-fit: cover; z-index: -1;
    }
    .inner{
        width: 1180px; height: 100%; 
        position: absolute; top: 50%; left:50%; transform: translate(-50%,-50%);
        .wrap{
            position: absolute; top: 70px; left: 0;
            a{
                img{
                    width: 9vw; opacity: 0.8;
                }
            }
        }
        .menuWeb{
            // border-bottom: 1px solid #efefef;
            #gnb{
                position: absolute; top: 80px; right: 0;
                li{
                    float: left;
                    a{
                        display: block; padding: 14px 40px;
                        font: 20px/1 'Karla'; color: #efefef;
                    }
                }
            }
        }

        .util{
            opacity: 0;
            //어디에 배치할지,
        }

        .copy{
            position: absolute; top: 50%; 
            text-align: center;

            h1{
                font-size: 50px;
                font-family: 'Frank Ruhl Libre';
                font-weight: 900;
                line-height: 1;
                color: #efefef; opacity: 0.9;
            }
            p{
                font: 18px/1.4 'Karla'; color: #efefef;
            }
        }
    }
}

#intro{
    width: 100%;
    padding: 150px 0px;
    .inner{
        width: 1180px;
        margin: 0 auto; 
        >h2{
            padding-left: 40px;
            font-size: 40px;
            font-family: 'Frank Ruhl Libre';
            font-weight: 900;
            color: #555;
        }

        .wrap{
            margin-top: 70px;
            article{
                &:nth-of-type(1){
                    .txt1{
                        width: 400px; float: left;
                        padding-left: 40px;
                        h3{
                            font-size: 18px;
                            font-family: 'Frank Ruhl Libre';
                            font-weight: 900;
                            color: rgb(171, 188, 207);
                        }      
                    }
                    .txt2{
                        width: 500px;  float: right;
                        p{
                            font-size: 15px;
                            font-family: 'Frank Ruhl Libre';
                            font-weight: 300;
                            line-height: 1.2;
                            color: #333;
                            margin-bottom: 30px;
                        }
                    }
                    &::after{
                        content: ''; display: block; clear: both;
                    }
                }
                &:nth-of-type(2){
                    margin-top: 30px;

                    .pic_1 img{
                        float: left;
                        width: 650px; height: 400px; object-fit: cover;
                        margin-right: 90px;

                    }
                    .pic_2{ 
                        height: 400px; position: relative;
                        img{ position: absolute; bottom: 0px;
                            width: 280px; height: 280px; object-fit: cover;
                        }
                    }
                    &::after{
                        content: ''; display: block; clear: both;
                    }
                }

                &:nth-of-type(3){
                    margin-top: 50px;
                    .txt1{
                        float: left;
                        padding-left: 40px;
                        h2{
                            font-size: 40px;
                            font-family: 'Frank Ruhl Libre';
                            font-weight: 300;
                            color: #555;
                        }      
                    }
                    .txt2{
                        width: 450px;  float: right;
                        p{
                            font-size: 15px;
                            font-family: 'Frank Ruhl Libre';
                            font-weight: 300;
                            line-height: 1.2;
                            color: #333;
                            margin-bottom: 30px;
                        }
                    }
                    &::after{
                        content: ''; display: block; clear: both;
                    }

                }
            }
        }
    }    
}

#product{
    width: 100%;
    padding: 100px 0px; 
    background-color: rgb(220, 229, 238);
    .inner{
        width: 1180px; margin: 0 auto;
        text-align: center;
        h3{
            font-size: 17px;
            font-family: 'Frank Ruhl Libre';
            font-weight: 900;
            line-height: 1;
            color: #555;
        }
        h2{
            font-size: 40px;
            font-family: 'Frank Ruhl Libre';
            font-weight: 900;
            color: #333;
        }
        p{
            font-size: 20px;
            font-family: 'Karla';
            line-height: 4;
            color: #555;
        }
        .wrap{
            display: flex; margin-top: 50px;
            article{
                margin-right: 20px;
                img{
                    background-color: rgb(230,230,230);
                    width:380px; height: 380px; object-fit: contain; border-radius: 50%;
                    margin-bottom: 20px;
                }
                h3{
                    font-size: 20px;
                    font-family: 'Frank Ruhl Libre';
                    font-weight: 900;
                    color: #555;

                }
                p{
                    font-size: 20px;
                    font-family: 'Karla';
                    line-height: 3;
                    color: #333;
                }
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
    }

}

#brand{
    width: 100%; padding: 150px 0px;
    .inner{
        width: 1180px; margin: 0 auto; text-align: center;
        h3{
            font-size: 20px;
            font-family: 'Frank Ruhl Libre';
            font-weight: 900;
            line-height: 1;
            color: #777;
        }
        h2{
            font-size: 40px;
            font-family: 'Frank Ruhl Libre';
            font-weight: 900;
            color: #333;
            margin-bottom: 20px;
        }
        p{
            font-size: 15px;
            font-family: 'Karla';
            line-height: 1.2;
            color: #000;
        }
        .wrap{ 
            width: 100%; margin-top: 100px;
            article{
                img{
                    width: 950px;

                }
            }
        }
    }
}

#comments{ //수정
    width: 100%; margin: 100px 0px;
    .inner{
        width: 1180px;
        h2{
            font: 40px 'Frank Ruhl Libre'; color: #333;
        } 
        // text-align: center;
        // display: flex; justify-content: center;     
        // article{
        //     width: 380px; height: 500px; border: 1px solid #999;
        //     float: left; 
        //     margin-right: 20px; padding: 170px 50px 0px; text-align: center; position: relative;
        //     a{
        //         font:20px/1 'Karla'; color: #555;
        //     }
        //     span{
        //         position: absolute;
        //         bottom: 0; right: 0;
        //         font:20px/1 'Karla'; color: #555;
        //     }
        //     &:hover{
        //         background-color: rgb(164, 182, 201);
        //     }

        //     &:hover a{
        //         color: #fff;
        //     }

        //     &:hover span{
        //         color: #ddd;
        //     }

        // }
    }
}

#footer{
    width: 100%; padding: 100px 0; background: rgb(220, 229, 238);
    .inner{
        width: 1180px; margin: 0 auto;
        &::after{
            content: ''; display: block; clear: both;
        }
        h1{
            font: bold 24px/1 'arial'; color: #666; float: left;
        }
        ul{
            float: right;
            li{
                float: left; margin-left: 20px;
                a{
                    font: bold 14px/1 'arial'; color: #666;
                }
            }
        }
        address{
            width: 100%; font: 14px/1.3 'arial'; color: #777; margin-bottom: 20px;    margin-top: 20px; float: left;    border-top: 1px solid #888; padding-top: 20px;
        }
        p{
            width: 100%; font: 12px/1 'arial'; color: #777; float: left;
        }
    }
}